<!-- #layout name='simple.html' block='container' -->
<style type="text/css">
body {
	background-color:#151515;
	background-repeat:no-repeat;
	background-image:url();
	background-position:center 50px;
}
.publicbox {
	border:1px solid #323232;
	background-color:#19191b;
	margin-bottom:0px;
}
.w620 {
	width:620px;
}
.w352 {
	width:352px;
}
</style>
<div class="box980 m_t10">
  <div class="f_l w620">
    <div class="mbxboxbox guestboxmbx">
      <!-- IF _nick -->
      <div class="mbxbox"> <a href="{{url::bind('')}}">蜜糖影视</a><span class="line">»</span><a href="{{url::bind('feedback')}}">留言本</a><span class="line">»</span>搜索"<font color="#FFFF00">{{_nick}}</font>" </div>
      <!-- ELSE -->
      <div class="mbxbox"> <a href="{{url::bind('')}}">蜜糖影视</a><span class="line">»</span>留言本 </div>
      <!-- ENDIF -->
      <div class="mbxbox_r"></div>
      <div class="cl"></div>
    </div>
    <div class="gblist"> </div>
    
    <!-- BEGIN _feedback -->
    <div class="itembox">
      <div class="f_l arbox">
        <div class="no_box">{{_ROWCNT}}</div>
        <div class="tx_box">条留言</div>
      </div>
      <div class="f_r gbtxtbox">
        <div class="gbtxtbox_con">
          <div class="titlename"> 
            <span class="name"><a href="{{url::bind('feedback','nick',nick)}}" >{{nick}}</a></span> 
            <span class="time">{{date::format(created,'Y-d-m H:i:s')}}</span>
            <div class="cl"></div>
          </div>
          <div class="content">{{content}}</div>
          <!-- IF relay -->
          <div class="gbitem_line"></div>
          <div class="zcontent"><span class="intro">站长回复：</span>{{relay}}</div>
          <!-- ENDIF -->
        </div>
      </div>
      <div class="f_r boxfooter"></div>
      <div class="cl"></div>
    </div>
    <!-- END _feedback -->

    <div class="gblist"> </div>
  </div>
  <div class="f_r w352">
    <div class="publicbox gbfrombox gbsearchfrombox">
      <form action="" method="post" name="guestsearch" id="guestsearch">
        <div class="inputitembox">
          <div class="inputbox">
            <input class="input_name input_search" name="nick" id="gb_search" type="text" value="输入昵称或者留言内容" />
            <input class="submit_search" type="submit" id="gb_search_btn"  value="&nbsp;"/>
            <div class="cl"></div>
          </div>
        </div>
      </form>
    </div>
    <div class="boxfooter_r"></div>
    <form action="{{url::bind('feedback','submit')}}" method="post" name="guestbook" id="guestbook">
      <div class="publicbox gbfrombox">
        <div class="inputitembox">
          <div class="labeltitle">请输入您的昵称：</div>
          <div class="inputbox">
            <input class="input_name" name="nick" id="gb_guestname" type="text" value="" />
          </div>
        </div>
        <div class="inputitembox">
          <div class="labeltitle">选择类型：</div>
          <div id="type_tid" class="inputbox">
            <input id="gb_tid" name="tid" type="hidden" value="4" />
            <a href="#" tid="1" class="btn_nst ">影片报错</a> 
            <a href="#" tid="2" class="btn_nst ">访问故障</a> 
            <a href="#" tid="3" class="btn_nst ">网站建议</a> 
            <a href="#" tid="4" class="btn_nst last cur">其他留言</a>
            <div class="cl"></div>
          </div>
        </div>
        <div class="inputitembox">
          <div class="labeltitle">请输入您的留言内容：</div>
          <div class="inputbox">
            <textarea name="content" id="gb_content" class="gb_content" maxlength="200">请留下您的宝贵意见，最多200个字。</textarea>
          </div>
        </div>
        <div class="inputitembox vcodebox">
          <div class="labeltitle">验证码：</div>
          <div class="inputbox">
            <input name="captcha" type="text" class="input_name input_vcode" id="gb_vcode"/>
          </div>
          <div class="vcodeimgbox"> <img src="{{url::bind('captcha')}}" alt="看不清楚换一张" name="safecode" border="0" align="absbottom" id="safecode"> </div>
          <div class="cl"></div>
        </div>
        <div class="inputitembox subtnbox">
          <div class="labeltitle">
            <label id="gb_tips"></label>
          </div>
          <div class="inputbox">
            <input id="gb_button" class="gb_button" type="submit" value="&nbsp;" />
          </div>
          <div class="cl"></div>
        </div>
      </div>
      <div class="boxfooter_r"></div>
    </form>
    <div class="publicbox wxtip">
      <p>你可以在顶部的搜索框输入你留言时的用户名就可以看到回复拉！</p>
      <p>百度影音播放不了的情况下，留言时请留下您的QQ，以便我们联系您；</p>
      <p>版权投诉请附带版权所属证明发至邮箱，<img src="/assets/images/email.gif" border="0" /> 请不要在此留言，我们收到邮件后会立刻处理；</p>
    </div>
    <div class="boxfooter_r"></div>
  </div>
  <div class="cl"></div>
</div>
<!--ff.留言本.表单验证 -->
<!-- #block name='javascript' -->
<script type="text/javascript" src="/assets/scripts/jquery/jquery.form.js"></script>
<script type="text/javascript" src="/assets/scripts/jquery/jquery.masonry.js"></script>
<script type="text/javascript" src="/assets/scripts/jquery/jquery.infinitescroll.js"></script>
<script type="text/javascript">
function item_masonry(){ 
  $('.item img').load(function(){ 
    $('.infinite_scroll').masonry({ 
      itemSelector: '.masonry_brick',
      columnWidth:226,
      gutterWidth:15                
    });   
  });
    
  $('.infinite_scroll').masonry({ 
    itemSelector: '.masonry_brick',
    columnWidth:226,
    gutterWidth:15                
  }); 
}

$(function(){
  function item_callback(){ 
    $('.item').mouseover(function(){
      $(this).css('box-shadow', '0 1px 5px rgba(35,25,25,0.5)');
      $('.btns',this).show();
    }).mouseout(function(){
      $(this).css('box-shadow', '0 1px 3px rgba(34,25,25,0.2)');
      $('.btns',this).hide();     
    });
    item_masonry(); 
  }

  item_callback();  
  $('.item').fadeIn();
  var sp = 1
  $(".infinite_scroll").infinitescroll({
    navSelector : "#more",
    nextSelector : "#more a",
    itemSelector : ".item",
    loading:{
      img: "images/masonry_loading_1.gif",
      msgText: ' ',
      finishedMsg: '木有了',
      finished: function(){
        sp++;
        if(sp >= 10){ //到第10页结束事件
          $("#more").remove();
          $("#infscr-loading").hide();
          $("#page").show();
          $(window).unbind('.infscr');
        }
      } 
    },errorCallback:function(){ 
      $("#page").show();
    }
    
  },function(newElements){
    var $newElems = $(newElements);
    $('.infinite_scroll').masonry('appended', $newElems, false);
    $newElems.fadeIn();
    item_callback();
    return;
  });

});
</script>

<script language="javascript">
$(document).ready(function(){

  $('#gb_guestname,#gb_content,#gb_vcode,#gb_search').hover(
    function(e){
      $(this).addClass("scur");
    },
    function(e){
      if(document.activeElement.id!=$(this).attr("id"))$(this).removeClass("scur");
    }).focus(function(){
      $(this).addClass("scur");
    }).blur(function(){
      $(this).removeClass("scur");
  });

	$('#gb_content').focus(function(){
		if($('#gb_content').val() == '请留下您的宝贵意见，最多200个字。'){
			$('#gb_content').val('');
		}
	});

	$('#gb_content').blur(function(){
		if($('#gb_content').val() == ''){
			$('#gb_content').val('请留下您的宝贵意见，最多200个字。');
		}
	});

	$('#gb_search').focus(function(){
		if($('#gb_search').val() == '输入昵称或者留言内容'){
			$('#gb_search').val('');
		}
	});

	$('#gb_search').blur(function(){
		if($('#gb_search').val() == ''){
			$('#gb_search').val('输入昵称或者留言内容');
		}
	});

	$("#safecode").click(function(){
		$(this).attr('src','{{url::bind('captcha')}}?'+new Date());
	});

	$("#type_tid a").click(function(e){
		$("#gb_tid").val($(this).attr("tid"));
		$("#type_tid a.cur").removeClass("cur");
		$(this).addClass("cur");
		e.preventDefault();
	});

	$("#guestsearch").submit(function(){
		if($('#gb_search').val() == '输入昵称或者留言内容' || $.trim($('#gb_search').val()) == '' ){
			$('#gb_search').val("");
			$('#gb_search').focus();
  		return false;
		}else{
      alert($('#gb_search').val());
      window.location.href = '/feedback/nick/'+$('#gb_search').val()+'.html';
      return false;
    }
	});

	$("#guestbook").submit(function(){
		if($('#gb_guestname').val() == ''){
			$('#gb_guestname').focus();
			$('#gb_tips').html('请输入昵称，以便搜索！');
  			return false;
		}
		if($('#gb_content').val().length>200){
			$('#gb_tips').html('您输入的留言信息过长！');
  			return false;
		}
		if($('#gb_content').val() == '请留下您的宝贵意见，最多200个字。'){
			$('#gb_content').focus();
			$('#gb_tips').html('请输入留言信息！');
  			return false;
		}
		if($('#gb_vcode').val() == ''){
			$('#gb_tips').html('请输入验证码！');
			return false;
		}
	});

	FF.Home.Sc($("#smallscbtn"));

	$(".header_s_smallmainmenu li").hover(
		function(){
			$(this).find('div.satvbox').show();
			$(this).find('iframe').height($(this).find('div.satv').outerHeight());
			$(this).find('a.maina_s').addClass($(this).attr('class')+"_on");
		},
		function(e){
			$(this).find('div.satvbox').hide();
			$(this).find('a.maina_s').removeClass($(this).attr('class')+"_on");
		}
	);
});
</script>
<!-- #block end -->