<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>微商记账助手</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="http://ws.datanexus.cn/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" href="css/wshelper.css">
</head>

<body>
<div class="page">
    <nav class="bar bar-nav">
        <a class="icon pull-left external" href="me.html">返回</a>
        <h1 class="title">关于我们</h1>
    </nav>
    <div class="content">
        <div class="dn-about-logo">
            <img src="images/logo228x228.png" width="80" height="100%"/>
            <h4>微商记账助手 V1.0</h4>
        </div>
        <div class="dn-about">
            <p>微商记账助手是一款专为微商打造的进销存应用，改进了传统进销存系统复杂繁琐的功能，提供简单、便捷的交互。是每一位微商的首选工具！</p>
        </div>
        <div class="dn-content-block">
            <div class="dn-contact">联系我们</div>
            <div class="dn-company">
                <i class="icon icon-dn-telephone"></i>
                <span>电话：<a href="tel://0851-84800652">0851-84800652</a></span>
            </div>
            <div class="dn-company">
                <i class="icon icon-dn-mail"></i>
                <span>邮箱：<a href="Mailto:service@datanexus.cn">service@datanexus.cn</a></span>
            </div>
            <div class="dn-company">
                <i class="icon icon-dn-sphere"></i>
                <span>网址：<a href="http://datanexus.cn">http://datanexus.cn</a></span>
            </div>
        </div>
        <div class="dn-copyright">
            <p>Copyright ©2016 贵州数联信息技术有限公司</p>
        </div>
    </div>
</div>

<script type='text/javascript' src='js/lib/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='js/lib/sm.min.js' charset='utf-8'></script>
</body>

</html>