<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>流水</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>

    <link rel="stylesheet" href="css/sm.min.css">
    <link rel="stylesheet" href="css/wshelper.css">
</head>

<body>
<input type="hidden" id="monthIndex"/>
<input type="hidden" id="totalnumber"/>
<div class="page-group">
    <div class="page page-current" id="historypage">
        <nav class="bar bar-tab">
            <a class="tab-item external" href="home.html">
                <span class="icon icon-dn-home"></span>
                <span class="tab-label">主页</span>
            </a>
            <a class="tab-item external active" href="history.html">
                <span class="icon icon-dn-bagx"></span>
                <span class="tab-label">流水</span>
            </a>
            <a class="tab-item external" href="report.html">
                <span class="icon icon-dn-chart"></span>
                <span class="tab-label">统计</span>
            </a>
            <a class="tab-item external" href="me.html">
                <span class="icon icon-dn-user"></span>
                <span class="tab-label">我的</span>
            </a>
        </nav>
        <header class="bar bar-nav">
            <h1 class='title'>流水</h1>
        </header>
        <div class="content  pull-to-refresh-content infinite-scroll infinite-scroll-bottom " id="pull_history"
             data-ptr-distance="55" data-distance="20">
            <div class="pull-to-refresh-layer">
                <div class="preloader"></div>
                <div class="pull-to-refresh-arrow"></div>
            </div>
            <div class="container dn-list" style="margin-top:0.5rem" id="history_list">


                <div class="content-block-title">
                    <div class="dn-list-date">
                        <div>2016</div>
                        <div><span class="dn-list-month">1</span>月</div>
                    </div>
                    <div class="dn-list-cost">
                        <div class="color-warning"><span>销</span>￥ 0.00</div>
                        <div><span>进</span>￥ 0.00</div>
                    </div>
                    <div class="dn-list-income">
                        <div class="color-primary">利润</div>
                        <div class="color-primary">￥0.00</div>
                    </div>
                </div>
                <div class="list-block">
                    <ul>
                        <li>
                            <a href="checkOut.html?source=history&amp;id=%257B%257Bd[i].list[j].id%257D%257D"
                               class="item-content item-link external">
                                <a href="checkIn.html?source=history&amp;id=%257B%257Bd[i].list[j].id%257D%257D"
                                   class="item-content item-link external">
                                    <div class="item-media">
                                        <i>111</i>
                                        <img src="http://ws.datanexus.cn/uploadfile/productimg/11" width="50"
                                             height="50"/>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title">
                                            <div class="item-title-row">
                                                <div class="item-title">title</div>
                                            </div>
                                            <div class="item-subtitle">1 箱</div>
                                        </div>
                                        <div class="item-after">
									<span class="color-warning">￥0.00
								</span>
                                        </div>
                                    </div>
                                </a>
                        </li>
                    </ul>
                </div>


            </div>
            <div id="preloader_1" class="infinite-scroll-preloader " style="display: none">
                <div>加载中...</div>
                <div class="preloader">
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/html" id="tpl_nodata">
    <div class="content-block-title" style="border-bottom: 1px solid #DFDFDF;">
        <div class="dn-list-date">
            <div>2016</div>
            <div><span class="dn-list-month">1</span>月</div>
        </div>
        <div class="dn-list-cost">
            <div class="color-warning"><span>销</span>￥0.00</div>
            <div><span>进</span>￥0.00</div>
        </div>
        <div class="dn-list-income">
            <div class="color-primary">利润</div>
            <div class="color-primary">￥0.00</div>
        </div>
    </div>
</script>

<script type='text/javascript' src='js/lib/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='js/lib/sm.0.6.2.js' charset='utf-8'></script>
<script type="text/javascript" src="js/lib/laytpl.js" charset="UTF-8"></script>
<script type="text/javascript" src="js/page/history.js"></script>
<script type="text/javascript">$.init();</script>
</body>

</html>