{% extends "mobile/layout.html" %}
{% block content %}

    <div class="content">
        <div class="dn-home-top">
            <div class="dn-home-date">
                <span class="dn-home-month" id="lbl_currentMonth">07</span><span id="lbl_currentYear"
                                                                                 class="dn-home-year">2016</span>
            </div>
            <div class="dn-home-row">
                <span>本月利润</span><span class="dn-home-num" id="lbl_monthprofit">￥0.00</span>
            </div>
            <div class="dn-home-row">
                <span>本月出货</span><span class="dn-home-num" id="lbl_outmoney">￥0.00</span>
            </div>
            <div class="dn-home-row">

                <span>本月进货</span><span class="dn-home-num" id="lbl_inmoney">￥0.00</span>
            </div>
        </div>
        <div class="dn-home-md content-block">
            <a class="button button-big button-fill button-warning external" href="record.html">订单与库存</a>
        </div>
        <div class="dn-home-bt list-block">
            <ul>
                <li>
                    <a href="homeGroup.html?type=d" class="item-link item-content external">
                        <div class="item-media"><i class="icon-dn-day icon-dn-f20"></i></div>
                        <div class="item-inner">
                            <div class="item-title">今天</div>
                            <div class="item-after" id="lbl_dayprofit">￥0.00</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="homeGroup.html?type=w" class="item-link item-content external">
                        <div class="item-media"><i class="icon-dn-week icon-dn-f20"></i></div>
                        <div class="item-inner">
                            <div class="item-title">本周</div>
                            <div class="item-after" id="lbl_weekprofit">￥0.00</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="homeGroup.html?type=m" class="item-link item-content external">
                        <div class="item-media"><i class="icon-dn-month icon-dn-f20"></i></div>
                        <div class="item-inner">
                            <div class="item-title">本月</div>
                            <div class="item-after" id="lbl_monthprofit2">￥0.00</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="homeGroup.html?type=y" class="item-link item-content external">
                        <div class="item-media"><i class="icon-dn-year icon-dn-f20"></i></div>
                        <div class="item-inner">
                            <div class="item-title">本年</div>
                            <div class="item-after" id="lbl_yearprofit">￥0.00</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}				