<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>微商记账助手</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		
		<link rel="stylesheet" href="css/sm.min.css">
		<link rel="stylesheet" href="css/wshelper.css">

	</head>

	<body>
		<div class="page">
			<nav class="bar bar-nav">
			  <a class="icon pull-left external" href="me.html">返回</a>
			  <a class="icon pull-right external" href="levelList.html#" id="add_level">新增</a>
			  <h1 class="title">等级</h1>
			</nav>
			<div class="content">
				<div class="list-block">
					<ul id="level_list"></ul>
				</div>
			</div>
		</div>
		<script type="text/html" id="tpl_levels">
			{{# for(var i = 0, len = d.length; i< len; i++){ }}
			<li class="item-content">
				<div class="item-inner">
					<div class="item-title">{{d[i].title}}</div>
					<div class="item-after">
						<a href="levelList.html#" onclick="deleteLevel('{{d[i].id}}')"><span class="icon icon-dn-minus"></span></a>
					</div>
				</div>
			</li>
			{{# } }}
		</script>

		<script type='text/javascript' src='js/lib/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/lib/sm.min.js' charset='utf-8'></script>
		<script type="text/javascript" src="js/lib/laytpl.js" charset="UTF-8"></script>
		<script type="text/javascript" src="js/page/common.js" charset="UTF-8"></script>
		<script type="text/javascript" src="js/page/level.js" charset="UTF-8"></script>
		<script type="text/javascript">
			$.init();
		</script>
	</body>

</html>