<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>统计</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="css/sm.min.css">
		<link rel="stylesheet" href="css/wshelper.css">

	</head>

	<body>
		<div class="page-group">
			<div class="page page-current">
				<nav class="bar bar-tab">
					<a class="tab-item external" href="home.html">
						<span class="icon icon-dn-home"></span>
						<span class="tab-label">主页</span>
					</a>
					<a class="tab-item external" href="history.html">
						<span class="icon icon-dn-bag"></span>
						<span class="tab-label">流水</span>
					</a>
					<a class="tab-item external active" href="report.html">
						<span class="icon icon-dn-chartx"></span>
						<span class="tab-label">统计</span>
					</a>
					<a class="tab-item external" href="me.html">
						<span class="icon icon-dn-user"></span>
						<span class="tab-label">我的</span>
					</a>
				</nav>
				<div class="content dn-list">
					<div class="content-block-title">商品统计</div>
					<div class="list-block">
						<ul>
							<li>
								<a class="item-content item-link external" href="report4In.html">
									<div class="item-media">
										<div class="dn-report-goods"><span class="icon icon-dn-checkin"></span></div>
									</div>
									<div class="item-inner">
										<div class="item-title">
											<div class="item-title-row">
												<div class="item-title">销售报表</div>
											</div>
											<div class="item-subtitle">查看商品销售信息</div>
										</div>
									</div>
								</a>
							</li>
							<li style="display: block">
								<a class="item-content item-link external" href="report4Out.html">
									<div class="item-media">
										<div class="dn-report-goods"><span class="icon icon-dn-bag"></span></div>
									</div>
									<div class="item-inner">
										<div class="item-title">
											<div class="item-title-row">
												<div class="item-title">订单报表</div>
											</div>
											<div class="item-subtitle">查看商品订单信息</div>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a class="item-content item-link external" href="report4Store.html">
									<div class="item-media">
										<div class="dn-report-goods"><span class="icon icon-dn-basket"></span></div>
									</div>
									<div class="item-inner">
										<div class="item-title">
											<div class="item-title-row">
												<div class="item-title">库存状况</div>
											</div>
											<div class="item-subtitle">统计商品库存信息</div>
										</div>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="content-block-title" style="display: none">财务统计（VIP）</div>
					<div class="list-block" style="display: none">
						<ul>
							<li>
								<a class="item-content item-link external dn-unlink" id="report4Profit" href="javascript:forbidden();">
									<div class="item-media">
										<div class="dn-report-money"><span class="icon icon-dn-coins"></span></div>
									</div>
									<div class="item-inner">
										<div class="item-title">
											<div class="item-title-row">
												<div class="item-title">利润报表</div>
											</div>
											<div class="item-subtitle">按时间、商品统计所得利润</div>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a class="item-content item-link external dn-unlink" id="report4Dealer" href="javascript:forbidden();">
									<div class="item-media">
										<div class="dn-report-money"><span class="icon icon-dn-stats"></span></div>
									</div>
									<div class="item-inner">
										<div class="item-title">
											<div class="item-title-row">
												<div class="item-title">业绩报表</div>
											</div>
											<div class="item-subtitle">按时间、代理商、商品统计业绩</div>
										</div>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<script type='text/javascript' src='js/lib/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='js/lib/sm.min.js' charset='utf-8'></script>
		<script type="text/javascript" src="js/page/common.js"></script>
		<script type="text/javascript" src="js/page/report.js"></script>
		<script type="text/javascript">
			$.init();
		</script>
	</body>

</html>