<!-- #layout name='frontend.html' block='container' -->
<div class="box940 publicbox p20">
  <div class="topextbox">
    <div class="l">
      <a href="http://www.wm527.com/vod-show-id-9-order-updatetime.html">最近更新</a>
      <a href="http://www.wm527.com/vod-show-id-9-order-gold.html">最受好评</a>
      <a href="http://www.wm527.com/vod-show-id-9-order-hits.html">历史热播</a>
      <div class="cl"></div>
    </div>
    <div class="c">
      <a href="http://www.wm527.com/movie/xijupian/list_1.html"class="x_img">海报</a>
      <a href="http://www.wm527.com/vod-show-id-9-t-1.html" class="x_list">列表</a>
      <a href="http://www.wm527.com/movie/xijupian/index.html" class="x_abc x_abc_cur">字母</a>
    </div>
    <div class="cl"></div>
  </div>
  <div class="letter-box">
    <div class="letter">
      <ul>
        <li><a target="_self" href="#A">A</a></li>
        <li><a target="_self" href="#B">B</a></li>
        <li><a target="_self" href="#C">C</a></li>
        <li><a target="_self" href="#D">D</a></li>
        <li><span>E</span></li>
        <li><a target="_self" href="#F">F</a></li>
        <li><a target="_self" href="#G">G</a></li>
        <li><a target="_self" href="#H">H</a></li>
        <li><span>I</span></li>
        <li><a target="_self" href="#J">J</a></li>
        <li><a target="_self" href="#K">K</a></li>
        <li><a target="_self" href="#L">L</a></li>
        <li><a target="_self" href="#M">M</a></li>
        <li><a target="_self" href="#N">N</a></li>
        <li><span>O</span></li>
        <li><a target="_self" href="#P">P</a></li>
        <li><a target="_self" href="#Q">Q</a></li>
        <li><a target="_self" href="#R">R</a></li>
        <li><a target="_self" href="#S">S</a></li>
        <li><a target="_self" href="#T">T</a></li>
        <li><span>U</span></li>
        <li><span>V</span></li>
        <li><a target="_self" href="#W">W</a></li>
        <li><a target="_self" href="#X">X</a></li>
        <li><a target="_self" href="#Y">Y</a></li>
        <li><a target="_self" href="#Z">Z</a></li>
        <li class="sz"><a target="_self" href="#other">&nbsp;其他&nbsp;</a></li>
        <em class="cl"></em>
      </ul>
      <span class="cl"></span> </div>
  </div>
  <div class="abcbox">
    <div class="letter-ranking">
      <div class="ui-ranking">
        <h3>好评排行榜</h3>
        <ul class="ranking-list">
          <li><span class="score">8.3</span><em class="stress">01.</em><a href="http://www.wm527.com/movie/xijupian/haorenyuehanni.html" target="_blank">好人约翰尼</a></li>
          <li><span class="score">8.1</span><em class="stress">02.</em><a href="http://www.wm527.com/movie/xijupian/jiatingzhoumo.html" target="_blank">家庭周末</a></li>
          <li><span class="score">8.0</span><em class="stress">03.</em><a href="http://www.wm527.com/movie/xijupian/daojianxiao.html" target="_blank">刀见笑</a></li>
          <li><span class="score">8.0</span><em >04.</em><a href="http://www.wm527.com/movie/xijupian/qingchunhaitandadianying.html" target="_blank">青春海滩大电影</a></li>
          <li><span class="score">8.0</span><em >05.</em><a href="http://www.wm527.com/movie/xijupian/wulongyuanyangzhiduoxing.html" target="_blank">乌龙鸳鸯智多星</a></li>
          <li><span class="score">8.0</span><em >06.</em><a href="http://www.wm527.com/movie/xijupian/xiaonanrenzhouji.html" target="_blank">小男人周记</a></li>
          <li><span class="score">8.0</span><em >07.</em><a href="http://www.wm527.com/movie/xijupian/xiaqiwuyu.html" target="_blank">下妻物语</a></li>
          <li><span class="score">8.0</span><em >08.</em><a href="http://www.wm527.com/movie/xijupian/yedianchaoshi.html" target="_blank">夜店</a></li>
          <li><span class="score">8.0</span><em >09.</em><a href="http://www.wm527.com/movie/xijupian/meiguopai9woaishunv.html" target="_blank">美国派9我爱熟女</a></li>
          <li><span class="score">8.0</span><em >10.</em><a href="http://www.wm527.com/movie/xijupian/xiaolinxiaozi2xinwulongyuan.html" target="_blank">笑林小子2:新乌龙院</a></li>
        </ul>
      </div>
      <div class="ui-ranking">
        <h3>热播排行榜</h3>
        <ul class="ranking-list">
          <li><span class="score">1086</span><em class="stress">01.</em><a href="http://www.wm527.com/movie/xijupian/fengkuangyuanshiren.html" target="_blank">疯狂原始人</a></li>
          <li><span class="score">1016</span><em class="stress">02.</em><a href="http://www.wm527.com/movie/xijupian/deshisudi4.html" target="_blank">的士速递4</a></li>
          <li><span class="score">1010</span><em class="stress">03.</em><a href="http://www.wm527.com/movie/xijupian/haomenyeyan.html" target="_blank">豪门夜宴</a></li>
          <li><span class="score">999</span><em >04.</em><a href="http://www.wm527.com/movie/xijupian/wuyebasailuona.html" target="_blank">午夜巴塞罗那</a></li>
          <li><span class="score">994</span><em >05.</em><a href="http://www.wm527.com/movie/xijupian/huaduyouqiyuanaitexionghesainashu.html" target="_blank">花都友奇缘</a></li>
          <li><span class="score">988</span><em >06.</em><a href="http://www.wm527.com/movie/xijupian/jinzhiyuye.html" target="_blank">金枝玉叶</a></li>
          <li><span class="score">984</span><em >07.</em><a href="http://www.wm527.com/movie/xijupian/shuihetashuijueliaoshuihetashangguochuangshuihetashuiliaoshuiyutatongchuangliao.html" target="_blank">谁和她睡觉了</a></li>
          <li><span class="score">984</span><em >08.</em><a href="http://www.wm527.com/movie/xijupian/zuijiafuxing.html" target="_blank">最佳福星</a></li>
          <li><span class="score">982</span><em >09.</em><a href="http://www.wm527.com/movie/xijupian/qianguize.html" target="_blank">潜规则</a></li>
          <li><span class="score">978</span><em >10.</em><a href="http://www.wm527.com/movie/xijupian/disuxiju.html" target="_blank">低俗喜剧</a></li>
        </ul>
      </div>
    </div>
    <dl id="A" class="letter-focus-item" name="A">
      <dt><a name="">A</a></dt>
      <dd><span>01.</span><a href="http://www.wm527.com/movie/xijupian/ailishegongdenvdachu.html">爱丽舍宫的女大厨</a></dd>
      <dd><span>02.</span><a href="http://www.wm527.com/movie/xijupian/aoqixiongying.html">傲气雄鹰</a></dd>
      <dd><span>03.</span><a href="http://www.wm527.com/movie/xijupian/aiqingzhaoshengchu.html">爱情招生处</a></dd>
      <dd><span>04.</span><a href="http://www.wm527.com/movie/xijupian/ananhai.html">啊，男孩</a></dd>
      <dd><span>05.</span><a href="http://www.wm527.com/movie/xijupian/aidedaledou.html">爱的大乐斗</a></dd>
    </dl>
    <dl id="B" class="letter-focus-item" name="B">
      <dt><a name="">B</a></dt>
      <dd><span>01.</span><a href="http://www.wm527.com/movie/xijupian/baibianxingjun.html">百变星君</a></dd>
      <dd><span>02.</span><a href="http://www.wm527.com/movie/xijupian/bingheshiji.html">冰河世纪</a></dd>
      <dd><span>03.</span><a href="http://www.wm527.com/movie/xijupian/biantaijiamian.html">变态假面</a></dd>
      <dd><span>04.</span><a href="http://www.wm527.com/movie/xijupian/bangjiadamingxing.html">绑架大明星</a></dd>
      <dd><span>05.</span><a href="http://www.wm527.com/movie/xijupian/biegenwotangaofushuai.html">别跟我谈高富帅</a></dd>
      <dd><span>06.</span><a href="http://www.wm527.com/movie/xijupian/baoliyunyusongziguan.html">暴力云与送子鹳</a></dd>
      <dd><span>07.</span><a href="http://www.wm527.com/movie/xijupian/banlvdujiacun.html">伴侣度假村</a></dd>
      <dd><span>08.</span><a href="http://www.wm527.com/movie/xijupian/baobeihewo.html">宝贝和我</a></dd>
      <dd><span>09.</span><a href="http://www.wm527.com/movie/xijupian/bulunuo.html">布鲁诺</a></dd>
      <dd><span>10.</span><a href="http://www.wm527.com/movie/xijupian/beilademofa.html">贝拉的魔法</a></dd>
      <dd><span>11.</span><a href="http://www.wm527.com/movie/xijupian/bukehehaier.html">布克和海尔</a></dd>
      <dd><span>12.</span><a href="http://www.wm527.com/movie/xijupian/baxingbaoxi.html">八星报喜</a></dd>
      <dd><span>13.</span><a href="http://www.wm527.com/movie/xijupian/buliangnannv.html">不良男女</a></dd>
      <dd><span>14.</span><a href="http://www.wm527.com/movie/xijupian/BJdanshenriji.html">BJ单身日记</a></dd>
      <dd><span>15.</span><a href="http://www.wm527.com/movie/xijupian/baixingjiudian.html">百星酒店</a></dd>
    </dl>
    <dl id="C" class="letter-focus-item" name="C">
      <dt><a name="">C</a></dt>
      <dd><span>01.</span><a href="http://www.wm527.com/movie/xijupian/chuanpuladadenvwang.html">穿普拉达的女王</a></dd>
      <dd><span>02.</span><a href="http://www.wm527.com/movie/xijupian/chalihebuci.html">查理和布茨</a></dd>
      <dd><span>03.</span><a href="http://www.wm527.com/movie/xijupian/chuyuyituanzao.html">出狱一团糟</a></dd>
      <dd><span>04.</span><a href="http://www.wm527.com/movie/xijupian/chongdong.html">冲动</a></dd>
      <dd><span>05.</span><a href="http://www.wm527.com/movie/xijupian/chufang.html">厨房</a></dd>
      <dd><span>06.</span><a href="http://www.wm527.com/movie/xijupian/chaojibeinaiba.html">超级杯奶爸</a></dd>
      <dd><span>07.</span><a href="http://www.wm527.com/movie/xijupian/chunjia.html">春假</a></dd>
      <dd><span>08.</span><a href="http://www.wm527.com/movie/xijupian/chunjiadatusha.html">春假大屠杀</a></dd>
      <dd><span>09.</span><a href="http://www.wm527.com/movie/xijupian/chinanyuannv.html">痴男怨女</a></dd>
      <dd><span>10.</span><a href="http://www.wm527.com/movie/xijupian/cuoquancuoliao.html">错</a></dd>
      <dd><span>11.</span><a href="http://www.wm527.com/movie/xijupian/chaersitianesanshidexinling.html">查尔斯天鹅三世的心灵</a></dd>
      <dd><span>12.</span><a href="http://www.wm527.com/movie/xijupian/chaojimingxingfaban.html">超级明星法版</a></dd>
      <dd><span>13.</span><a href="http://www.wm527.com/movie/xijupian/caishendao2010.html">财神到 2010</a></dd>
      <dd><span>14.</span><a href="http://www.wm527.com/movie/xijupian/chaojiyingxiong.html">超级英雄</a></dd>
      <dd><span>15.</span><a href="http://www.wm527.com/movie/xijupian/chuzixizipizihulielababaizhuangshi.html">厨子戏子痞子</a></dd>
      <dd><span>16.</span><a href="http://www.wm527.com/movie/xijupian/chaliyigewanjugushi.html">查理：一个玩具故事</a></dd>
      <dd><span>17.</span><a href="http://www.wm527.com/movie/xijupian/chaojijingbaxingbakechaoyouzhongxingbakechaoyouzhong.html">超级精爸</a></dd>
      <dd><span>18.</span><a href="http://www.wm527.com/movie/xijupian/caihuoche.html">猜火车</a></dd>
      <dd><span>19.</span><a href="http://www.wm527.com/movie/xijupian/chulian50ci.html">初恋50次</a></dd>
    </dl>
    <dl id="D" class="letter-focus-item" name="D">
      <dt><a name="">D</a></dt>
      <dd><span>01.</span><a href="http://www.wm527.com/movie/xijupian/dawan.html">大腕</a></dd>
      <dd><span>02.</span><a href="http://www.wm527.com/movie/xijupian/daojianxiao.html">刀见笑</a></dd>
      <dd><span>03.</span><a href="http://www.wm527.com/movie/xijupian/dahuaxiyouzhixianlvqiyuan.html">大话西游之仙履奇缘</a></dd>
      <dd><span>04.</span><a href="http://www.wm527.com/movie/xijupian/dapian.html">大片</a></dd>
      <dd><span>05.</span><a href="http://www.wm527.com/movie/xijupian/dahuaxiyouzhiyueguangbaohe.html">大话西游之月光宝盒</a></dd>
      <dd><span>06.</span><a href="http://www.wm527.com/movie/xijupian/dajiayichang.html">大假一场</a></dd>
      <dd><span>07.</span><a href="http://www.wm527.com/movie/xijupian/dajiazaoshanghao.html">大家早上好</a></dd>
      <dd><span>08.</span><a href="http://www.wm527.com/movie/xijupian/daibuwang.html">逮捕王</a></dd>
      <dd><span>09.</span><a href="http://www.wm527.com/movie/xijupian/douzhener.html">逗阵儿</a></dd>
      <dd><span>10.</span><a href="http://www.wm527.com/movie/xijupian/diannaoqiju.html">电脑棋局</a></dd>
      <dd><span>11.</span><a href="http://www.wm527.com/movie/xijupian/daweilumandaweiliumeng.html">大尾鲈鳗</a></dd>
      <dd><span>12.</span><a href="http://www.wm527.com/movie/xijupian/disuxiju.html">低俗喜剧</a></dd>
      <dd><span>13.</span><a href="http://www.wm527.com/movie/xijupian/duwangliguliguxinniancai.html">赌王呖咕呖咕新年财</a></dd>
      <dd><span>14.</span><a href="http://www.wm527.com/movie/xijupian/duxia1999.html">赌侠1999</a></dd>
      <dd><span>15.</span><a href="http://www.wm527.com/movie/xijupian/duxiadazhanlasiweijiasi.html">赌侠大战拉斯维加斯</a></dd>
      <dd><span>16.</span><a href="http://www.wm527.com/movie/xijupian/duxia2shanghaitandusheng.html">赌侠2上海滩赌圣</a></dd>
      <dd><span>17.</span><a href="http://www.wm527.com/movie/xijupian/duxia.html">赌侠</a></dd>
      <dd><span>18.</span><a href="http://www.wm527.com/movie/xijupian/dahungaojijiehunyoumeiyouhunqianjieai.html">大婚告急</a></dd>
      <dd><span>19.</span><a href="http://www.wm527.com/movie/xijupian/duobaolianmeng.html">夺宝联盟</a></dd>
      <dd><span>20.</span><a href="http://www.wm527.com/movie/xijupian/deshisudi4.html">的士速递4</a></dd>
      <dd><span>21.</span><a href="http://www.wm527.com/movie/xijupian/duzidengdai.html">独自等待</a></dd>
      <dd><span>22.</span><a href="http://www.wm527.com/movie/xijupian/daozoudafenqi.html">盗走达芬奇</a></dd>
    </dl>
    <dl id="F" class="letter-focus-item" name="F">
      <dt><a name="">F</a></dt>
      <dd><span>01.</span><a href="http://www.wm527.com/movie/xijupian/faguowansui.html">法国万岁</a></dd>
      <dd><span>02.</span><a href="http://www.wm527.com/movie/xijupian/fengkuangdefengkuang.html">疯狂的疯狂</a></dd>
      <dd><span>03.</span><a href="http://www.wm527.com/movie/xijupian/fengkuangmaxituan.html">疯狂马戏团</a></dd>
      <dd><span>04.</span><a href="http://www.wm527.com/movie/xijupian/fajiao.html">发胶</a></dd>
      <dd><span>05.</span><a href="http://www.wm527.com/movie/xijupian/fengkuangyuehuimeilidu.html">疯狂约会美丽都</a></dd>
      <dd><span>06.</span><a href="http://www.wm527.com/movie/xijupian/fengkuangbaomu.html">疯狂保姆</a></dd>
      <dd><span>07.</span><a href="http://www.wm527.com/movie/xijupian/fengkuangyuanshiren.html">疯狂原始人</a></dd>
      <dd><span>08.</span><a href="http://www.wm527.com/movie/xijupian/fandoushenyingxuji.html">反斗神鹰续集</a></dd>
      <dd><span>09.</span><a href="http://www.wm527.com/movie/xijupian/fandoushenying.html">反斗神鹰</a></dd>
      <dd><span>10.</span><a href="http://www.wm527.com/movie/xijupian/fandoumaliu.html">反斗马骝</a></dd>
      <dd><span>11.</span><a href="http://www.wm527.com/movie/xijupian/fuguibingtuan.html">富贵兵团</a></dd>
      <dd><span>12.</span><a href="http://www.wm527.com/movie/xijupian/fengkuangdeshitou.html">疯狂的石头</a></dd>
      <dd><span>13.</span><a href="http://www.wm527.com/movie/xijupian/fennudexiaohai.html">愤怒的小孩</a></dd>
    </dl>
    <dl id="G" class="letter-focus-item" name="G">
      <dt><a name="">G</a></dt>
      <dd><span>01.</span><a href="http://www.wm527.com/movie/xijupian/gaoluyingxiongyingyouji.html">高卢英雄英游记</a></dd>
      <dd><span>02.</span><a href="http://www.wm527.com/movie/xijupian/gounannv.html">狗男女</a></dd>
      <dd><span>03.</span><a href="http://www.wm527.com/movie/xijupian/gongzhuriji2.html">公主日记2</a></dd>
      <dd><span>04.</span><a href="http://www.wm527.com/movie/xijupian/gongfuxiongmiao.html">功夫熊猫</a></dd>
      <dd><span>05.</span><a href="http://www.wm527.com/movie/xijupian/guozhi.html">果汁</a></dd>
      <dd><span>06.</span><a href="http://www.wm527.com/movie/xijupian/gaizaoxiansheng.html">改造先生</a></dd>
      <dd><span>07.</span><a href="http://www.wm527.com/movie/xijupian/gunanguanv.html">孤男寡女</a></dd>
      <dd><span>08.</span><a href="http://www.wm527.com/movie/xijupian/guaipishentou.html">怪癖神偷</a></dd>
      <dd><span>09.</span><a href="http://www.wm527.com/movie/xijupian/guanyuwodemuqinguanyuwomuqindeyiqiewodemuqinlunjinwoama.html">关于我的母亲</a></dd>
      <dd><span>10.</span><a href="http://www.wm527.com/movie/xijupian/gangtiedawu.html">钢铁大吴</a></dd>
    </dl>
    <dl id="H" class="letter-focus-item" name="H">
      <dt><a name="">H</a></dt>
      <dd><span>01.</span><a href="http://www.wm527.com/movie/xijupian/heimiaobaimiao.html">黑猫白猫</a></dd>
      <dd><span>02.</span><a href="http://www.wm527.com/movie/xijupian/haorenyuehanni.html">好人约翰尼</a></dd>
      <dd><span>03.</span><a href="http://www.wm527.com/movie/xijupian/huanyinglaibeifang.html">欢迎来北方</a></dd>
      <dd><span>04.</span><a href="http://www.wm527.com/movie/xijupian/haolaiwuxingzhan.html">好莱坞性战</a></dd>
      <dd><span>05.</span><a href="http://www.wm527.com/movie/xijupian/hamuleite2.html">哈姆雷特2</a></dd>
      <dd><span>06.</span><a href="http://www.wm527.com/movie/xijupian/hulanglailiao.html">胡狼来了</a></dd>
      <dd><span>07.</span><a href="http://www.wm527.com/movie/xijupian/huluobuxiaojie.html">胡萝卜小姐</a></dd>
      <dd><span>08.</span><a href="http://www.wm527.com/movie/xijupian/haoxiaozi1xiaolongchushan.html">好小子1小龙出山</a></dd>
      <dd><span>09.</span><a href="http://www.wm527.com/movie/xijupian/huangfeihongduihuangfeihong.html">黄飞鸿对黄飞鸿</a></dd>
      <dd><span>10.</span><a href="http://www.wm527.com/movie/xijupian/huangtongchahu.html">黄铜茶壶</a></dd>
      <dd><span>11.</span><a href="http://www.wm527.com/movie/xijupian/haibianwang.html">海扁王</a></dd>
      <dd><span>12.</span><a href="http://www.wm527.com/movie/xijupian/huaduyouqiyuanaitexionghesainashu.html">花都友奇缘</a></dd>
      <dd><span>13.</span><a href="http://www.wm527.com/movie/xijupian/haomenyeyan.html">豪门夜宴</a></dd>
      <dd><span>14.</span><a href="http://www.wm527.com/movie/xijupian/huimaqiang.html">回马枪</a></dd>
      <dd><span>15.</span><a href="http://www.wm527.com/movie/xijupian/huangjindajiean.html">黄金大劫案</a></dd>
    </dl>
    <dl id="J" class="letter-focus-item" name="J">
      <dt><a name="">J</a></dt>
      <dd><span>01.</span><a href="http://www.wm527.com/movie/xijupian/jiquanbuning.html">鸡犬不宁</a></dd>
      <dd><span>02.</span><a href="http://www.wm527.com/movie/xijupian/jiangshixinniang.html">僵尸新娘</a></dd>
      <dd><span>03.</span><a href="http://www.wm527.com/movie/xijupian/jiayouefu.html">家有恶夫</a></dd>
      <dd><span>04.</span><a href="http://www.wm527.com/movie/xijupian/jiehundazuozhan.html">结婚大作战</a></dd>
      <dd><span>05.</span><a href="http://www.wm527.com/movie/xijupian/jiafeimiao.html">加菲猫</a></dd>
      <dd><span>06.</span><a href="http://www.wm527.com/movie/xijupian/jiafeimiao2.html">加菲猫2</a></dd>
      <dd><span>07.</span><a href="http://www.wm527.com/movie/xijupian/jianyufengbo.html">监狱疯波</a></dd>
      <dd><span>08.</span><a href="http://www.wm527.com/movie/xijupian/jiuroupengyou.html">酒肉朋友</a></dd>
      <dd><span>09.</span><a href="http://www.wm527.com/movie/xijupian/jingshengjianxiao5.html">惊声尖笑5</a></dd>
      <dd><span>10.</span><a href="http://www.wm527.com/movie/xijupian/jinfenshijie.html">金粉世界</a></dd>
      <dd><span>11.</span><a href="http://www.wm527.com/movie/xijupian/jingzhuangnanxiongnandi.html">精装难兄难弟</a></dd>
      <dd><span>12.</span><a href="http://www.wm527.com/movie/xijupian/jiatingpaiduijiuzaijinye.html">家庭派对：就在今夜</a></dd>
      <dd><span>13.</span><a href="http://www.wm527.com/movie/xijupian/jintailangdexingfushenghuodianyingban.html">金太狼的幸福生活 电影版</a></dd>
      <dd><span>14.</span><a href="http://www.wm527.com/movie/xijupian/jiazuderongyu4jiamendeshounan.html">家族的荣誉4：家门的受难</a></dd>
      <dd><span>15.</span><a href="http://www.wm527.com/movie/xijupian/jiatingzhoumo.html">家庭周末</a></dd>
      <dd><span>16.</span><a href="http://www.wm527.com/movie/xijupian/jiachangzhidaoPGlaoyezhiyingangchangbeiyoujiaodaitai.html">家长指导</a></dd>
      <dd><span>17.</span><a href="http://www.wm527.com/movie/xijupian/jinji2.html">金鸡2</a></dd>
      <dd><span>18.</span><a href="http://www.wm527.com/movie/xijupian/jinji.html">金鸡</a></dd>
      <dd><span>19.</span><a href="http://www.wm527.com/movie/xijupian/jiBoyxiaozizhizhenjiaweilong.html">机Boy小子之真假威龙</a></dd>
      <dd><span>20.</span><a href="http://www.wm527.com/movie/xijupian/jingzhuangzhuinvzi3zhilangzhiyizu.html">精装追女仔3之狼之一族</a></dd>
      <dd><span>21.</span><a href="http://www.wm527.com/movie/xijupian/jingzhuangzhuinvzi2.html">精装追女仔2</a></dd>
      <dd><span>22.</span><a href="http://www.wm527.com/movie/xijupian/juedinaiba3.html">绝地奶霸3</a></dd>
      <dd><span>23.</span><a href="http://www.wm527.com/movie/xijupian/jingshengjianxiao3.html">惊声尖笑3</a></dd>
      <dd><span>24.</span><a href="http://www.wm527.com/movie/xijupian/jingshengjianxiao4.html">惊声尖笑4</a></dd>
      <dd><span>25.</span><a href="http://www.wm527.com/movie/xijupian/jingshengjianxiao2.html">惊声尖笑2</a></dd>
      <dd><span>26.</span><a href="http://www.wm527.com/movie/xijupian/jingshengjianxiao.html">惊声尖笑</a></dd>
      <dd><span>27.</span><a href="http://www.wm527.com/movie/xijupian/jiujiezhilv.html">纠结之旅</a></dd>
      <dd><span>28.</span><a href="http://www.wm527.com/movie/xijupian/jinzhiyuye2.html">金枝玉叶2</a></dd>
      <dd><span>29.</span><a href="http://www.wm527.com/movie/xijupian/jinzhiyuye.html">金枝玉叶</a></dd>
      <dd><span>30.</span><a href="http://www.wm527.com/movie/xijupian/jiangshixinrenzijiangshiwenzi.html">僵尸新人仔</a></dd>
      <dd><span>31.</span><a href="http://www.wm527.com/movie/xijupian/jiannvhai2.html">贱女孩2</a></dd>
      <dd><span>32.</span><a href="http://www.wm527.com/movie/xijupian/jiannvhai.html">贱女孩</a></dd>
    </dl>
    <dl id="K" class="letter-focus-item" name="K">
      <dt><a name="">K</a></dt>
      <dd><span>01.</span><a href="http://www.wm527.com/movie/xijupian/kongchengqingren.html">空乘情人</a></dd>
      <dd><span>02.</span><a href="http://www.wm527.com/movie/xijupian/kafeizhen.html">咖啡镇</a></dd>
      <dd><span>03.</span><a href="http://www.wm527.com/movie/xijupian/kuangxi.html">狂喜</a></dd>
      <dd><span>04.</span><a href="http://www.wm527.com/movie/xijupian/kexueguaigouguaidanfuhuogougangkexueguaiquantai.html">科学怪狗</a></dd>
      <dd><span>05.</span><a href="http://www.wm527.com/movie/xijupian/kaixinmofa.html">开心魔法</a></dd>
      <dd><span>06.</span><a href="http://www.wm527.com/movie/xijupian/kuailedaojia.html">快乐到家</a></dd>
    </dl>
    <dl id="L" class="letter-focus-item" name="L">
      <dt><a name="">L</a></dt>
      <dd><span>01.</span><a href="http://www.wm527.com/movie/xijupian/liyuedamaoxian.html">里约大冒险</a></dd>
      <dd><span>02.</span><a href="http://www.wm527.com/movie/xijupian/lianggandayanqiang.html">两杆大烟枪</a></dd>
      <dd><span>03.</span><a href="http://www.wm527.com/movie/xijupian/luonanjianzhenqing.html">落难见真情</a></dd>
      <dd><span>04.</span><a href="http://www.wm527.com/movie/xijupian/lvjiexinshou.html">律界新手</a></dd>
      <dd><span>05.</span><a href="http://www.wm527.com/movie/xijupian/lingyuanlukou.html">陵园路口</a></dd>
      <dd><span>06.</span><a href="http://www.wm527.com/movie/xijupian/ludingji2shenlongjiao.html">鹿鼎记2神龙教</a></dd>
      <dd><span>07.</span><a href="http://www.wm527.com/movie/xijupian/lueduozhe.html">掠夺者</a></dd>
      <dd><span>08.</span><a href="http://www.wm527.com/movie/xijupian/liangxiaowucai1971.html">两小无猜 1971</a></dd>
      <dd><span>09.</span><a href="http://www.wm527.com/movie/xijupian/liumengducha.html">流氓督察</a></dd>
      <dd><span>10.</span><a href="http://www.wm527.com/movie/xijupian/landufudoulanduqi.html">烂赌夫斗烂赌妻</a></dd>
    </dl>
    <dl id="M" class="letter-focus-item" name="M">
      <dt><a name="">M</a></dt>
      <dd><span>01.</span><a href="http://www.wm527.com/movie/xijupian/maolinanhai.html">毛利男孩</a></dd>
      <dd><span>02.</span><a href="http://www.wm527.com/movie/xijupian/mohuanchufang.html">魔幻厨房</a></dd>
      <dd><span>03.</span><a href="http://www.wm527.com/movie/xijupian/modengniandai.html">摩登年代</a></dd>
      <dd><span>04.</span><a href="http://www.wm527.com/movie/xijupian/maopaijiating.html">冒牌家庭</a></dd>
      <dd><span>05.</span><a href="http://www.wm527.com/movie/xijupian/musedadianying.html">暮色大电影</a></dd>
      <dd><span>06.</span><a href="http://www.wm527.com/movie/xijupian/muxingguanghui.html">母性光辉</a></dd>
      <dd><span>07.</span><a href="http://www.wm527.com/movie/xijupian/mingyangsihai.html">名扬四海</a></dd>
      <dd><span>08.</span><a href="http://www.wm527.com/movie/xijupian/mamamaiya.html">妈妈咪呀</a></dd>
      <dd><span>09.</span><a href="http://www.wm527.com/movie/xijupian/morizainan.html">末日灾难</a></dd>
      <dd><span>10.</span><a href="http://www.wm527.com/movie/xijupian/minawenjudianmeinadewenjudian.html">米娜文具店</a></dd>
      <dd><span>11.</span><a href="http://www.wm527.com/movie/xijupian/meiguoshaguameiguobaichi.html">美国傻瓜</a></dd>
      <dd><span>12.</span><a href="http://www.wm527.com/movie/xijupian/mengguibiyedianlisiyeyaobiye.html">猛鬼毕业典礼</a></dd>
      <dd><span>13.</span><a href="http://www.wm527.com/movie/xijupian/maojiaonvxu.html">毛脚女婿</a></dd>
      <dd><span>14.</span><a href="http://www.wm527.com/movie/xijupian/modengshidai.html">摩登时代</a></dd>
      <dd><span>15.</span><a href="http://www.wm527.com/movie/xijupian/meinvyuyeshou.html">美女与野兽</a></dd>
      <dd><span>16.</span><a href="http://www.wm527.com/movie/xijupian/modengrulaishenzhang.html">摩登如来神掌</a></dd>
      <dd><span>17.</span><a href="http://www.wm527.com/movie/xijupian/meiguopai9woaishunv.html">美国派9我爱熟女</a></dd>
      <dd><span>18.</span><a href="http://www.wm527.com/movie/xijupian/meiguopai8yiganjindong.html">美国派8一杆进洞</a></dd>
      <dd><span>19.</span><a href="http://www.wm527.com/movie/xijupian/meiguopai7.html">美国派7</a></dd>
      <dd><span>20.</span><a href="http://www.wm527.com/movie/xijupian/mamu.html">麻木</a></dd>
      <dd><span>21.</span><a href="http://www.wm527.com/movie/xijupian/meiguopai6.html">美国派6</a></dd>
      <dd><span>22.</span><a href="http://www.wm527.com/movie/xijupian/meiguopai5.html">美国派5</a></dd>
      <dd><span>23.</span><a href="http://www.wm527.com/movie/xijupian/meiguopai4.html">美国派4</a></dd>
      <dd><span>24.</span><a href="http://www.wm527.com/movie/xijupian/meiguopai3.html">美国派3</a></dd>
      <dd><span>25.</span><a href="http://www.wm527.com/movie/xijupian/meiguopai2.html">美国派2</a></dd>
      <dd><span>26.</span><a href="http://www.wm527.com/movie/xijupian/meiguopai1.html">美国派1</a></dd>
    </dl>
    <dl id="N" class="letter-focus-item" name="N">
      <dt><a name="">N</a></dt>
      <dd><span>01.</span><a href="http://www.wm527.com/movie/xijupian/nvshen.html">女神</a></dd>
      <dd><span>02.</span><a href="http://www.wm527.com/movie/xijupian/nvshengbulidemimi.html">女生部里的秘密</a></dd>
      <dd><span>03.</span><a href="http://www.wm527.com/movie/xijupian/nvlanlage.html">女篮辣哥</a></dd>
      <dd><span>04.</span><a href="http://www.wm527.com/movie/xijupian/nashishuozhouwande.html">那是说着玩的</a></dd>
      <dd><span>05.</span><a href="http://www.wm527.com/movie/xijupian/nianmanershiyinianman21.html">年满二十一</a></dd>
      <dd><span>06.</span><a href="http://www.wm527.com/movie/xijupian/nihaomoshengren.html">你好，陌生人</a></dd>
      <dd><span>07.</span><a href="http://www.wm527.com/movie/xijupian/nanhaizuozhan.html">南海作战</a></dd>
      <dd><span>08.</span><a href="http://www.wm527.com/movie/xijupian/nanademeiguizhanzheng.html">娜娜的玫瑰战争</a></dd>
      <dd><span>09.</span><a href="http://www.wm527.com/movie/xijupian/niuzikudexiatian2.html">牛仔裤的夏天2</a></dd>
    </dl>
    <dl id="P" class="letter-focus-item" name="P">
      <dt><a name="">P</a></dt>
      <dd><span>01.</span><a href="http://www.wm527.com/movie/xijupian/pangnanhaikuaipao.html">胖男孩快跑</a></dd>
      <dd><span>02.</span><a href="http://www.wm527.com/movie/xijupian/paidangzhentan.html">拍档侦探</a></dd>
      <dd><span>03.</span><a href="http://www.wm527.com/movie/xijupian/peijiao.html">配角</a></dd>
      <dd><span>04.</span><a href="http://www.wm527.com/movie/xijupian/paoyou.html">炮友</a></dd>
    </dl>
    <dl id="Q" class="letter-focus-item" name="Q">
      <dt><a name="">Q</a></dt>
      <dd><span>01.</span><a href="http://www.wm527.com/movie/xijupian/quanmiao.html">犬猫</a></dd>
      <dd><span>02.</span><a href="http://www.wm527.com/movie/xijupian/qianguize.html">潜规则</a></dd>
      <dd><span>03.</span><a href="http://www.wm527.com/movie/xijupian/qingchunhaitandadianying.html">青春海滩大电影</a></dd>
      <dd><span>04.</span><a href="http://www.wm527.com/movie/xijupian/qingwagongzhu.html">青蛙公主</a></dd>
      <dd><span>05.</span><a href="http://www.wm527.com/movie/xijupian/qiantingzongdongyuan.html">潜艇总动员</a></dd>
      <dd><span>06.</span><a href="http://www.wm527.com/movie/xijupian/qimingfengbomingzi.html">起名风波</a></dd>
      <dd><span>07.</span><a href="http://www.wm527.com/movie/xijupian/qianwangxilajuyuandamingxingxiaogenbanbatadaidaoxilajuyuan.html">前往希腊剧院</a></dd>
      <dd><span>08.</span><a href="http://www.wm527.com/movie/xijupian/qunlongduobao.html">群龙夺宝</a></dd>
      <dd><span>09.</span><a href="http://www.wm527.com/movie/xijupian/qiuyichujie.html">球已出界</a></dd>
      <dd><span>10.</span><a href="http://www.wm527.com/movie/xijupian/qiangjiulaoba.html">抢救老爸</a></dd>
    </dl>
    <dl id="R" class="letter-focus-item" name="R">
      <dt><a name="">R</a></dt>
      <dd><span>01.</span><a href="http://www.wm527.com/movie/xijupian/renxinyuguanmian.html">仁心与冠冕</a></dd>
      <dd><span>02.</span><a href="http://www.wm527.com/movie/xijupian/rangxiongmiaofei.html">让熊猫飞</a></dd>
      <dd><span>03.</span><a href="http://www.wm527.com/movie/xijupian/ruguowomenshenghuozaiyiqi.html">如果我们生活在一起</a></dd>
      <dd><span>04.</span><a href="http://www.wm527.com/movie/xijupian/ranshaodezonglv.html">燃烧的棕榈</a></dd>
      <dd><span>05.</span><a href="http://www.wm527.com/movie/xijupian/renzhewuniang.html">忍者舞娘</a></dd>
      <dd><span>06.</span><a href="http://www.wm527.com/movie/xijupian/renjianxiju.html">人间喜剧</a></dd>
      <dd><span>07.</span><a href="http://www.wm527.com/movie/xijupian/renzaituzhitai.html">人再囧途之泰囧</a></dd>
    </dl>
    <dl id="S" class="letter-focus-item" name="S">
      <dt><a name="">S</a></dt>
      <dd><span>01.</span><a href="http://www.wm527.com/movie/xijupian/sannianzhiai.html">三年之爱</a></dd>
      <dd><span>02.</span><a href="http://www.wm527.com/movie/xijupian/shijiemori.html">世界末日</a></dd>
      <dd><span>03.</span><a href="http://www.wm527.com/movie/xijupian/shikongjizhuanwan.html">时空急转弯</a></dd>
      <dd><span>04.</span><a href="http://www.wm527.com/movie/xijupian/shuangmiannvyou.html">双面女友</a></dd>
      <dd><span>05.</span><a href="http://www.wm527.com/movie/xijupian/shikongfangke.html">时空访客</a></dd>
      <dd><span>06.</span><a href="http://www.wm527.com/movie/xijupian/shengdahunli.html">盛大婚礼</a></dd>
      <dd><span>07.</span><a href="http://www.wm527.com/movie/xijupian/seshuaiyingzhaonan.html">色衰应招男</a></dd>
      <dd><span>08.</span><a href="http://www.wm527.com/movie/xijupian/suichaolaike.html">隋朝来客</a></dd>
      <dd><span>09.</span><a href="http://www.wm527.com/movie/xijupian/shentouyanzei.html">神偷艳贼</a></dd>
      <dd><span>10.</span><a href="http://www.wm527.com/movie/xijupian/shenqiyaokongqi.html">神奇遥控器</a></dd>
      <dd><span>11.</span><a href="http://www.wm527.com/movie/xijupian/shaolinzuqiu.html">少林足球</a></dd>
      <dd><span>12.</span><a href="http://www.wm527.com/movie/xijupian/shenglongqibingdamaoxian.html">圣龙奇兵大冒险</a></dd>
      <dd><span>13.</span><a href="http://www.wm527.com/movie/xijupian/shenfenqiezei.html">身份窃贼</a></dd>
      <dd><span>14.</span><a href="http://www.wm527.com/movie/xijupian/shixidashu.html">实习大叔</a></dd>
      <dd><span>15.</span><a href="http://www.wm527.com/movie/xijupian/shashouqiao.html">杀手乔</a></dd>
      <dd><span>16.</span><a href="http://www.wm527.com/movie/xijupian/sharenfanqiesharenfanqiedegongji.html">杀人番茄</a></dd>
      <dd><span>17.</span><a href="http://www.wm527.com/movie/xijupian/shuijingxianzi.html">水晶仙子</a></dd>
      <dd><span>18.</span><a href="http://www.wm527.com/movie/xijupian/shaxincimufengkuangshashouqiaomamai.html">杀心慈母</a></dd>
      <dd><span>19.</span><a href="http://www.wm527.com/movie/xijupian/shentanzhuguli.html">神探朱古力</a></dd>
      <dd><span>20.</span><a href="http://www.wm527.com/movie/xijupian/shengtelupeisidejingcha.html">圣特鲁佩斯的警察</a></dd>
      <dd><span>21.</span><a href="http://www.wm527.com/movie/xijupian/suzui3zuibaobanlangtuan3gangzuihoudazhangfu3tai.html">宿醉3</a></dd>
      <dd><span>22.</span><a href="http://www.wm527.com/movie/xijupian/shuihetashuijueliaoshuihetashangguochuangshuihetashuiliaoshuiyutatongchuangliao.html">谁和她睡觉了</a></dd>
      <dd><span>23.</span><a href="http://www.wm527.com/movie/xijupian/shuangtuishengfengliangjiaoshengfengxiaotuidushangdefengpugongying.html">双腿生风</a></dd>
      <dd><span>24.</span><a href="http://www.wm527.com/movie/xijupian/shiqishidaizhibaiwandazhentanshiqishidai.html">石器时代之百万大侦探</a></dd>
      <dd><span>25.</span><a href="http://www.wm527.com/movie/xijupian/shengdanhuaigonggong.html">圣诞坏公公</a></dd>
      <dd><span>26.</span><a href="http://www.wm527.com/movie/xijupian/shentanfeijitou3.html">神探飞机头3</a></dd>
      <dd><span>27.</span><a href="http://www.wm527.com/movie/xijupian/shentanfeijitou2.html">神探飞机头2</a></dd>
      <dd><span>28.</span><a href="http://www.wm527.com/movie/xijupian/shentanfeijitou.html">神探飞机头</a></dd>
      <dd><span>29.</span><a href="http://www.wm527.com/movie/xijupian/shinaienyizuo.html">师奶唔易做</a></dd>
      <dd><span>30.</span><a href="http://www.wm527.com/movie/xijupian/shengdanjingling.html">圣诞精灵</a></dd>
      <dd><span>31.</span><a href="http://www.wm527.com/movie/xijupian/shijie.html">十诫</a></dd>
      <dd><span>32.</span><a href="http://www.wm527.com/movie/xijupian/sanshadanaobaolaiwu2.html">三傻大闹宝莱坞2</a></dd>
      <dd><span>33.</span><a href="http://www.wm527.com/movie/xijupian/sanshadanaobaolaiwu.html">三傻大闹宝莱坞</a></dd>
      <dd><span>34.</span><a href="http://www.wm527.com/movie/xijupian/shenhanliumeng.html">神汉流氓</a></dd>
    </dl>
    <dl id="T" class="letter-focus-item" name="T">
      <dt><a name="">T</a></dt>
      <dd><span>01.</span><a href="http://www.wm527.com/movie/xijupian/taojinqiaoyuanjia.html">淘金俏冤家</a></dd>
      <dd><span>02.</span><a href="http://www.wm527.com/movie/xijupian/tianjiangmeishi.html">天降美食</a></dd>
      <dd><span>03.</span><a href="http://www.wm527.com/movie/xijupian/tianhouzhizhan.html">天后之战</a></dd>
      <dd><span>04.</span><a href="http://www.wm527.com/movie/xijupian/tiancaiyizu.html">天才一族</a></dd>
      <dd><span>05.</span><a href="http://www.wm527.com/movie/xijupian/tangbohudianqiuxiang.html">唐伯虎点秋香</a></dd>
      <dd><span>06.</span><a href="http://www.wm527.com/movie/xijupian/touguaiqiangpian.html">偷拐抢骗</a></dd>
      <dd><span>07.</span><a href="http://www.wm527.com/movie/xijupian/tegongdetebierenwu.html">特工的特别任务</a></dd>
      <dd><span>08.</span><a href="http://www.wm527.com/movie/xijupian/tiantianquan.html">甜甜圈</a></dd>
      <dd><span>09.</span><a href="http://www.wm527.com/movie/xijupian/taoxueweilongzhilongguojinian.html">逃学威龙Ⅲ之龙过鸡年</a></dd>
      <dd><span>10.</span><a href="http://www.wm527.com/movie/xijupian/taoxueweilong.html">逃学威龙</a></dd>
      <dd><span>11.</span><a href="http://www.wm527.com/movie/xijupian/tianxingseai.html">甜性涩爱</a></dd>
      <dd><span>12.</span><a href="http://www.wm527.com/movie/xijupian/tangbohudianqiuxiang2tangbohudianqiuxiangzhisidacaizigexianshentong.html">唐伯虎点秋香2</a></dd>
    </dl>
    <dl id="W" class="letter-focus-item" name="W">
      <dt><a name="">W</a></dt>
      <dd><span>01.</span><a href="http://www.wm527.com/movie/xijupian/wangpaiqingdi.html">王牌情敌</a></dd>
      <dd><span>02.</span><a href="http://www.wm527.com/movie/xijupian/wuwenti2.html">无问题2</a></dd>
      <dd><span>03.</span><a href="http://www.wm527.com/movie/xijupian/wuyebasailuona.html">午夜巴塞罗那</a></dd>
      <dd><span>04.</span><a href="http://www.wm527.com/movie/xijupian/wulongyuanyangzhiduoxing.html">乌龙鸳鸯智多星</a></dd>
      <dd><span>05.</span><a href="http://www.wm527.com/movie/xijupian/weimiaoaiqing.html">微妙爱情</a></dd>
      <dd><span>06.</span><a href="http://www.wm527.com/movie/xijupian/weijingxiaohaidao2.html">维京小海盗2</a></dd>
      <dd><span>07.</span><a href="http://www.wm527.com/movie/xijupian/wenkelianqu.html">文科恋曲</a></dd>
      <dd><span>08.</span><a href="http://www.wm527.com/movie/xijupian/wodegangaxingzhilv.html">我的尴尬性之旅</a></dd>
      <dd><span>09.</span><a href="http://www.wm527.com/movie/xijupian/wojialefantian.html">我家乐翻天</a></dd>
      <dd><span>10.</span><a href="http://www.wm527.com/movie/xijupian/woshiwang.html">我是王</a></dd>
      <dd><span>11.</span><a href="http://www.wm527.com/movie/xijupian/weixiandejianmianli.html">危险的见面礼</a></dd>
      <dd><span>12.</span><a href="http://www.wm527.com/movie/xijupian/woaimafan.html">我爱麻烦</a></dd>
      <dd><span>13.</span><a href="http://www.wm527.com/movie/xijupian/woyaozuojingcha.html">我要做警察</a></dd>
      <dd><span>14.</span><a href="http://www.wm527.com/movie/xijupian/weidaixixiaojiekaiche.html">为黛西小姐开车</a></dd>
      <dd><span>15.</span><a href="http://www.wm527.com/movie/xijupian/wodebaobeihuishuohua2.html">我的宝贝会说话2</a></dd>
      <dd><span>16.</span><a href="http://www.wm527.com/movie/xijupian/wodebaobeihuishuohua.html">我的宝贝会说话</a></dd>
      <dd><span>17.</span><a href="http://www.wm527.com/movie/xijupian/wangpaizhipianjia.html">王牌制片家</a></dd>
      <dd><span>18.</span><a href="http://www.wm527.com/movie/xijupian/weizhulibaochou.html">为朱莉报仇</a></dd>
      <dd><span>19.</span><a href="http://www.wm527.com/movie/xijupian/woaibeikehanmu.html">我爱贝克汉姆</a></dd>
      <dd><span>20.</span><a href="http://www.wm527.com/movie/xijupian/wudikaixinguokaixindamaoxian.html">无敌开心果</a></dd>
      <dd><span>21.</span><a href="http://www.wm527.com/movie/xijupian/wodedianhuaqingrenwodePSdadang.html">我的电话情人</a></dd>
      <dd><span>22.</span><a href="http://www.wm527.com/movie/xijupian/wodediannaohuishuohua.html">我的电脑会说话</a></dd>
    </dl>
    <dl id="X" class="letter-focus-item" name="X">
      <dt><a name="">X</a></dt>
      <dd><span>01.</span><a href="http://www.wm527.com/movie/xijupian/xihasizhongzouzhitaibeiyiriyou.html">嘻哈四重奏之台北一日游</a></dd>
      <dd><span>02.</span><a href="http://www.wm527.com/movie/xijupian/xinbingzhengchuan2.html">新兵正传2</a></dd>
      <dd><span>03.</span><a href="http://www.wm527.com/movie/xijupian/xuanmeiqiaowodi.html">选美俏卧底</a></dd>
      <dd><span>04.</span><a href="http://www.wm527.com/movie/xijupian/xuanmeiqiaowodi2.html">选美俏卧底2</a></dd>
      <dd><span>05.</span><a href="http://www.wm527.com/movie/xijupian/xiaofangquan.html">消防犬</a></dd>
      <dd><span>06.</span><a href="http://www.wm527.com/movie/xijupian/xinlingchufang.html">心灵厨房</a></dd>
      <dd><span>07.</span><a href="http://www.wm527.com/movie/xijupian/xiyan.html">喜宴</a></dd>
      <dd><span>08.</span><a href="http://www.wm527.com/movie/xijupian/xihasizhongzouzhijiehundejijie.html">嘻哈四重奏之结婚的季节</a></dd>
      <dd><span>09.</span><a href="http://www.wm527.com/movie/xijupian/xihasizhongzouzhifeixiangtaibei.html">嘻哈四重奏之飞向台北</a></dd>
      <dd><span>10.</span><a href="http://www.wm527.com/movie/xijupian/xiaomeirenyu.html">小美人鱼</a></dd>
      <dd><span>11.</span><a href="http://www.wm527.com/movie/xijupian/xiaoxiaodebaisehuangyan.html">小小的白色谎言</a></dd>
      <dd><span>12.</span><a href="http://www.wm527.com/movie/xijupian/xiaogongzhenwulin.html">笑功震武林</a></dd>
      <dd><span>13.</span><a href="http://www.wm527.com/movie/xijupian/xijie.html">细节</a></dd>
      <dd><span>14.</span><a href="http://www.wm527.com/movie/xijupian/xiaonanrenzhouji.html">小男人周记</a></dd>
      <dd><span>15.</span><a href="http://www.wm527.com/movie/xijupian/xianghenishangchuang.html">想和你上床</a></dd>
      <dd><span>16.</span><a href="http://www.wm527.com/movie/xijupian/xiangxiaren.html">乡下人</a></dd>
      <dd><span>17.</span><a href="http://www.wm527.com/movie/xijupian/xindingjiadao.html">新丁驾到</a></dd>
      <dd><span>18.</span><a href="http://www.wm527.com/movie/xijupian/xiaqiwuyu.html">下妻物语</a></dd>
      <dd><span>19.</span><a href="http://www.wm527.com/movie/xijupian/xuejiansanchakou.html">血溅三岔口</a></dd>
      <dd><span>20.</span><a href="http://www.wm527.com/movie/xijupian/xiangnanrenyiyangsikao.html">像男人一样思考</a></dd>
      <dd><span>21.</span><a href="http://www.wm527.com/movie/xijupian/xiaolinxiaozi2xinwulongyuan.html">笑林小子2:新乌龙院</a></dd>
      <dd><span>22.</span><a href="http://www.wm527.com/movie/xijupian/xingyunchakedaoshudiergenanpengyouxingyunxianshengxingyunkuke.html">幸运查克</a></dd>
      <dd><span>23.</span><a href="http://www.wm527.com/movie/xijupian/xiaomiaoqiyuan.html">小猫奇缘</a></dd>
      <dd><span>24.</span><a href="http://www.wm527.com/movie/xijupian/xixuenvlangyaofu.html">吸血女郎</a></dd>
      <dd><span>25.</span><a href="http://www.wm527.com/movie/xijupian/xiaoxiaoxiaojingcha.html">小小小警察</a></dd>
      <dd><span>26.</span><a href="http://www.wm527.com/movie/xijupian/xiarifuxing.html">夏日福星</a></dd>
      <dd><span>27.</span><a href="http://www.wm527.com/movie/xijupian/xilirenfuchaojiyingxiong.html">犀利人夫</a></dd>
      <dd><span>28.</span><a href="http://www.wm527.com/movie/xijupian/xinlingyouxixinliyouxi.html">心灵游戏</a></dd>
      <dd><span>29.</span><a href="http://www.wm527.com/movie/xijupian/xingfuzhongdianzhan.html">幸福终点站</a></dd>
      <dd><span>30.</span><a href="http://www.wm527.com/movie/xijupian/xiyoujiangmopian.html">西游降魔篇</a></dd>
    </dl>
    <dl id="Y" class="letter-focus-item" name="Y">
      <dt><a name="">Y</a></dt>
      <dd><span>01.</span><a href="http://www.wm527.com/movie/xijupian/yilukuangben.html">一路狂奔</a></dd>
      <dd><span>02.</span><a href="http://www.wm527.com/movie/xijupian/yiyejingxi.html">一夜惊喜</a></dd>
      <dd><span>03.</span><a href="http://www.wm527.com/movie/xijupian/yaogunqingnian.html">摇滚青年</a></dd>
      <dd><span>04.</span><a href="http://www.wm527.com/movie/xijupian/youlongxifeng.html">游龙戏凤</a></dd>
      <dd><span>05.</span><a href="http://www.wm527.com/movie/xijupian/yaogunqingchun2.html">摇滚青春2</a></dd>
      <dd><span>06.</span><a href="http://www.wm527.com/movie/xijupian/yangqun.html">羊群</a></dd>
      <dd><span>07.</span><a href="http://www.wm527.com/movie/xijupian/yemujinghun.html">夜幕惊魂</a></dd>
      <dd><span>08.</span><a href="http://www.wm527.com/movie/xijupian/youhuoxuexiao.html">诱惑学校</a></dd>
      <dd><span>09.</span><a href="http://www.wm527.com/movie/xijupian/yemangantan.html">野蛮干探</a></dd>
      <dd><span>10.</span><a href="http://www.wm527.com/movie/xijupian/yuzainandiaoqing.html">与灾难调情</a></dd>
      <dd><span>11.</span><a href="http://www.wm527.com/movie/xijupian/yiyekuanghuanjiannanshiguang.html">一夜狂欢</a></dd>
      <dd><span>12.</span><a href="http://www.wm527.com/movie/xijupian/yedianchaoshi.html">夜店</a></dd>
      <dd><span>13.</span><a href="http://www.wm527.com/movie/xijupian/yuncaizhiduoxing.html">运财智多星</a></dd>
      <dd><span>14.</span><a href="http://www.wm527.com/movie/xijupian/yinianzhiyang.html">一年之痒</a></dd>
      <dd><span>15.</span><a href="http://www.wm527.com/movie/xijupian/yourenlawumi.html">有人拉屋米</a></dd>
      <dd><span>16.</span><a href="http://www.wm527.com/movie/xijupian/yushishangtongji.html">与时尚同居</a></dd>
      <dd><span>17.</span><a href="http://www.wm527.com/movie/xijupian/yangguangxiaomeinv.html">阳光小美女</a></dd>
      <dd><span>18.</span><a href="http://www.wm527.com/movie/xijupian/yangcongdianying.html">洋葱电影</a></dd>
    </dl>
    <dl id="Z" class="letter-focus-item" name="Z">
      <dt><a name="">Z</a></dt>
      <dd><span>01.</span><a href="http://www.wm527.com/movie/xijupian/zhanbushimen.html">占卜师们</a></dd>
      <dd><span>02.</span><a href="http://www.wm527.com/movie/xijupian/zexinvhai.html">泽西女孩</a></dd>
      <dd><span>03.</span><a href="http://www.wm527.com/movie/xijupian/zhuoredemaan.html">灼热的马鞍</a></dd>
      <dd><span>04.</span><a href="http://www.wm527.com/movie/xijupian/zidanhengfeibailaohui.html">子弹横飞百老汇</a></dd>
      <dd><span>05.</span><a href="http://www.wm527.com/movie/xijupian/zhongjianren.html">中间人</a></dd>
      <dd><span>06.</span><a href="http://www.wm527.com/movie/xijupian/zhiliuzhisi.html">滞留之死</a></dd>
      <dd><span>07.</span><a href="http://www.wm527.com/movie/xijupian/zuijiaguiyou.html">最佳鬼友</a></dd>
      <dd><span>08.</span><a href="http://www.wm527.com/movie/xijupian/zhegexiatianyouyixing.html">这个夏天有异性</a></dd>
      <dd><span>09.</span><a href="http://www.wm527.com/movie/xijupian/zujizhencha.html">足迹</a></dd>
      <dd><span>10.</span><a href="http://www.wm527.com/movie/xijupian/zuizaodebiyedianli.html">最糟的毕业典礼</a></dd>
      <dd><span>11.</span><a href="http://www.wm527.com/movie/xijupian/zhongqingaiqingganjue.html">重庆爱情感觉</a></dd>
      <dd><span>12.</span><a href="http://www.wm527.com/movie/xijupian/ziranzhaohuanshimingzhaohuan.html">自然召唤</a></dd>
      <dd><span>13.</span><a href="http://www.wm527.com/movie/xijupian/zuichangdeyima.html">最长的一码</a></dd>
      <dd><span>14.</span><a href="http://www.wm527.com/movie/xijupian/zuiquan.html">醉拳</a></dd>
      <dd><span>15.</span><a href="http://www.wm527.com/movie/xijupian/zhizunsanshiliujizhitoutianhuanri.html">至尊三十六计之偷天换日</a></dd>
      <dd><span>16.</span><a href="http://www.wm527.com/movie/xijupian/zhengguzhuanjia.html">整蛊专家</a></dd>
      <dd><span>17.</span><a href="http://www.wm527.com/movie/xijupian/zhonghuanyingxiong.html">中环英雄</a></dd>
      <dd><span>18.</span><a href="http://www.wm527.com/movie/xijupian/zuijiananpengyou.html">最佳男朋友</a></dd>
      <dd><span>19.</span><a href="http://www.wm527.com/movie/xijupian/zuijiasunyou.html">最佳损友</a></dd>
      <dd><span>20.</span><a href="http://www.wm527.com/movie/xijupian/zuijiafuxing.html">最佳福星</a></dd>
      <dd><span>21.</span><a href="http://www.wm527.com/movie/xijupian/zuijiapaidangdaxianshentong.html">最佳拍档大显神通</a></dd>
      <dd><span>22.</span><a href="http://www.wm527.com/movie/xijupian/zhongnianfunvyaoguntuan.html">中年妇女摇滚团</a></dd>
    </dl>
    <dl id="other" class="letter-focus-item" name="other">
      <dt><a name="">其他</a></dt>
      <dd><span>01.</span><a href="http://www.wm527.com/movie/xijupian/qianqianjiazu.html">悭钱家族</a></dd>
      <dd><span>02.</span><a href="http://www.wm527.com/movie/xijupian/mingjiejingju.html">冥界警局</a></dd>
      <dd><span>03.</span><a href="http://www.wm527.com/movie/xijupian/yaotiaoshunan.html">窈窕淑男</a></dd>
      <dd><span>04.</span><a href="http://www.wm527.com/movie/xijupian/renzhiyuenaoyueyang.html">囧人之越挠越痒</a></dd>
      <dd><span>05.</span><a href="http://www.wm527.com/movie/xijupian/pengranxindong.html">怦然心动</a></dd>
    </dl>
    <div class="cl"></div>
  </div>
</div>

<!-- #block name='javascript' -->
<script type="text/javascript">
$(function(){
	$("img.itemimg").lazyload({effect:"fadeIn",event:"sporty"});
	$(".show-tipinfo a,.show-tipinfo span.line").hover(
	function(){
		$(this).parents("li").find("div.lvbox").show();
		$(this).parents("li").find("img.itemimg").trigger("sporty");
		},
	function(){
		$(this).parents("li").find("div.lvbox").hide();
	});

	$(".letter ul li a").click(function(){
		var rel=$(this).attr("href");
		var pos=$(rel).offset().top;//获取该点到头部的距离
		$("html,body").stop(true,false).animate({scrollTop:pos-60}, 800);
		return false;
	});
	commonFixed(".letter");
});
//通用fixed固定
function commonFixed(selector,top,offset){
	var el = $(selector);
	if(!el.length) return;
	var	h = top || el.offset().top,
		height = el.outerHeight(true),
		offt = offset || 0,
		isIE6 = $.browser.msie && $.browser.version=="6.0";
	if(isIE6){
		$(window).bind("scroll.fixed",function(){
			if($(this).scrollTop() > h){
				el.css({"position":"relative","z-index":"999","opacity":"0","top":$(this).scrollTop() - h + offt}).stop(true,false).animate({opacity:1});
			}else{
				el.css("position","static");
			}
		}).trigger("scroll.fixed");
	}else{
		$(window).bind("scroll.fixed",function(){
			if($(this).scrollTop() > h){
				el.hasClass("fixed")?"":el.addClass("fixed");
			}else{
				el.hasClass("fixed")?el.removeClass("fixed"):"";
			}
		}).trigger("scroll.fixed");
	}
}
</script>
<!-- #block end -->