<!-- #layout name='frontend.html' block='container' -->
<div class="box980 ">
  <div class="f_l w302">
    <div class="pdrbox publicbox w300">
      <div class="p16_u11_r_d_l">
        <div class="searchlablebox">
          <dl>
            <dt>
              <div class="titlebox">
                <div class="titletxt titleimg_type"></div>
                <div class="ftitletxt">&nbsp;</div>
                <div class="cl"></div>
              </div>
            </dt>

            <!-- IF _assoc.tags -->
            <dd><a href="{{url::bind('channel',top._current)}}" class="">不限</a></dd>
            <!-- ELSE -->
            <dd><a href="{{url::bind('channel',top._current)}}" class="cur">不限</a></dd>
            <!-- ENDIF -->
            <!-- BEGIN _tags -->
            <!-- IF name=top._assoc.tags -->
            <dd> <a href="{{url::bind('channel',top._current,'tags',name)}}" class="cur" target="_self">{{html::name(name)}}</a></dd>
            <!-- ELSE -->
            <dd> <a href="{{url::bind('channel',top._current,'tags',name)}}" target="_self">{{html::name(name)}}</a></dd>
            <!-- ENDIF -->
            <!-- END _tags -->

            <div class="cl"></div>
          </dl>
          <dl>
            <dt>
              <div class="titlebox">
                <div class="titletxt titleimg_arae"></div>
                <div class="ftitletxt">&nbsp;</div>
                <div class="cl"></div>
              </div>
            </dt>
            <!-- IF _assoc.area -->
            <dd><a href="{{url::bind('channel',top._current)}}" class="">不限</a></dd>
            <!-- ELSE -->
            <dd><a href="{{url::bind('channel',top._current)}}" class="cur">不限</a></dd>
            <!-- ENDIF -->
            <!-- BEGIN _areas -->
            <!-- IF _VALUE=top._assoc.area -->
            <dd> <a href="{{url::bind('channel',top._current,'area',_VALUE)}}" class="cur" target="_self">{{_VALUE}}</a></dd>
            <!-- ELSE -->
            <dd> <a href="{{url::bind('channel',top._current,'area',_VALUE)}}" target="_self">{{_VALUE}}</a></dd>
            <!-- ENDIF -->
            <!-- END _areas -->
            <div class="cl"></div>
          </dl>
          <dl>
            <dt>
              <div class="titlebox">
                <div class="titletxt titleimg_year"></div>
                <div class="ftitletxt">&nbsp;</div>
                <div class="cl"></div>
              </div>
            </dt>
            <!-- IF _assoc.year -->
            <dd><a href="{{url::bind('channel',top._current)}}" class="">不限</a></dd>
            <!-- ELSE -->
            <dd><a href="{{url::bind('channel',top._current)}}" class="cur">不限</a></dd>
            <!-- ENDIF -->
            <!-- BEGIN _years -->
            <!-- IF _VALUE=top._assoc.year -->
            <dd> <a href="{{url::bind('channel',top._current,'year',_VALUE)}}" class="cur" target="_self">{{_VALUE}}</a></dd>
            <!-- ELSE -->
            <dd> <a href="{{url::bind('channel',top._current,'year',_VALUE)}}" target="_self">{{_VALUE}}</a></dd>
            <!-- ENDIF -->
            <!-- END _years -->
            <div class="cl"></div>
          </dl>
          <dl>
            <dt>
              <div class="titlebox">
                <div class="titletxt titleimg_letter"></div>
                <div class="ftitletxt">&nbsp;</div>
                <div class="cl"></div>
              </div>
            </dt>
            <!-- IF _assoc.letter -->
            <dd><a href="{{url::bind('channel',top._current)}}" class="">不限</a></dd>
            <!-- ELSE -->
            <dd><a href="{{url::bind('channel',top._current)}}" class="cur">不限</a></dd>
            <!-- ENDIF -->
            <!-- BEGIN _letter -->
            <!-- IF _VALUE=top._assoc.letter -->
            <dd> <a href="{{url::bind('channel',top._current,'letter',_VALUE)}}" class="cur" target="_self">{{_VALUE}}</a></dd>
            <!-- ELSE -->
            <dd> <a href="{{url::bind('channel',top._current,'letter',_VALUE)}}" target="_self">{{_VALUE}}</a></dd>
            <!-- ENDIF -->
            <!-- END _letter -->
            <div class="cl"></div>
          </dl>
          <div class="cl"></div>
        </div>
      </div>
    </div>
    <div class="publicbox w300">{{adsense::show("channel-list_left_1")}}</div>
  </div>
  {{_videos.pages > _pagination}}
  <div class="f_r w670">
    <div class=" publicbox w668">
      <div class="vodlistbox">
        <div class="topextbox">
          <div class="l">
            <a href="#" class="cur" >最近更新</a>
            <a href="#" class="" >最受好评</a>
            <a href="#" class="" >历史热播</a>
            <div class="cl"></div>
          </div>
          <div class="r">
            <div class="tx"> <span>{{_pagination.current}} / {{_pagination.pagecount}}</span> </div>
            <!-- IF _pagination.prev -->
            <span class="p_up_y"><a href="{{_pagination.prev}}" class="up">上一页</a></span>
            <!-- ELSE -->
            <span class="p_up_n">上一页</span>
            <!-- ENDIF -->
            <!-- IF _pagination.next -->
            <span class="p_down_y"><a href="{{_pagination.next}}" class="down">下一页</a></span>
            <!-- ELSE -->
            <span class="p_down_n">下一页</span>
            <!-- ENDIF -->
          </div>
          <div class="cl"></div>
        </div>
        <div class="imgitembox">

          <!-- BEGIN _videos.items equally=4 -->
          <div class="imgitem <!-- IF _EQUALLY=0 -->last<!-- ENDIF -->">
            <a class="imglink" href="{{url::bind('detail',id)}}">
              <img class="loadimg_w151_h203" data-original="{{picurl}}" src="/assets/images/noimg.gif" alt="点击播放《{{html::name(name)}}》" />
              <span class="txbg"></span>
              <span class="tx"><!-- IF state<>"0" -->更新至{{state}}集<!-- ELSE -->{{note}}<!-- ENDIF --></span>
            </a>
            <a class="titlelink" href="{{url::bind('detail',id)}}" alt="点击查看详情《{{html::name(name)}}》">{{html::name(name)}}</a>
            <span class="yylink">{{channel::actor(actor)}}</span>
            <div class="starbox">
              <span class="starbs">
                <span class="starbb" style="width:{{channel::percent(gold)}};"></span>
              </span>
              <span class="goldtx">{{gold}}</span>
              <div class="cl"></div>
            </div>
          </div>
          <!-- END _videos.items -->

          <div class="cl"></div>
        </div>

        <div class="pages">
          <div class="ptbox">
            <!-- IF _pagination.prev -->
            <span class="p_up_y"><a href="{{_pagination.prev}}" class="up">&nbsp;</a></span>
            <!-- ELSE -->
            <span class="p_up_n">&nbsp;</span>
            <!-- ENDIF -->
            <!-- BEGIN _pagination.pages -->
            <!-- IF link -->
            <span class="p_n_y"><a href="{{link}}">{{title}}</a></span>
            <!-- ELSE -->
            <span class="p_n_n">{{title}}</span>
            <!-- ENDIF -->
            <!-- END _pagination.pages -->
            <!-- IF _pagination.end<>"" -->
            <span class="linesl">...</span>
            <span class="p_n_y"><a href="{{_pagination.end}}">{{_pagination.pagecount}}</a></span>
            <!-- ENDIF -->
            <!-- IF _pagination.next -->
            <span class="p_down_y"><a href="{{_pagination.next}}" class="down">&nbsp;</a></span>
            <!-- ELSE -->
            <span class="p_down_n"></span>
            <!-- ENDIF -->
          </div>
          <div class="cl"></div>
        </div>

        <div class="cl"></div>
      </div>
    </div>
  </div>
  <div class="cl"></div>
</div>

<!-- #block name='javascript' -->
<script type="text/javascript">
$(function(){
	$("img.loadimg_w151_h203").lazyload({effect:"fadeIn",errorimgpic:'/assets/images/no-pic-l.gif'});
});
</script>
<!-- #block end -->