<!-- 电影块 -->
<div class="box980">
	<div class="publicbox w668 f_l" id="box_dm">
		<div class="i_titlebox">
			<div class="i_title_txt f_l imgtxt_dm"></div>
			<div class="i_title_menu f_r menu_dm" id="box_dm_tabbtn">
				<ul>
					<!-- BEGIN __comic.sons -->
					<li>[[html::name(name)}}</li>
					<!-- END __comic.sons -->
					<div class="cl"></div>
				</ul>
			</div>
			<div class="cl"></div>
		</div>

		<div class="i_conbox " id="box_dm_tabcon">
			<!-- BEGIN __comic._sons -->
			<div class="cententbox" <!-- IF _FIRST -->style="display: block;"<!-- ENDIF -->>
				<div class="imgitembox">
					<!-- BEGIN _items equally=5 -->
					<!-- IF _EQUALLY=0 -->
					<div class="imgitem f_l last">
						<a class="imglink" href="[[url::bind('detail',id)}}">
							<!-- IF parent._FIRST -->
							<img class="loadimg_w114_h160_s" data-original="[[picurl}}" src="/assets/images/noimg.gif" alt="点击播放《[[html::name(name)}}》"/>
							<!-- ELSE -->
							<img class="loadimg_w114_h160" data-original="[[picurl}}" src="/assets/images/noimg.gif" alt="点击播放《[[html::name(name)}}》"/>
							<!-- ENDIF -->
							<span class="txbg"></span>
							<span class="tx">[[note}}</span>
						</a>
						<a class="titlelink" href="[[url::bind('detail',id)}}" alt="点击查看详情《[[html::name(name)}}》">[[html::name(name)}}</a>
						<span class="yylink">[[html::actor2(actor)}}</span>
						<div class="starbox">
							<span class="starbs">
								<span class="starbb" style="width:[[channel::percent(gold)}};"></span>
							</span>
							<span class="goldtx">[[gold}}</span>
							<div class="cl"></div>
						</div>
					</div>
					<!-- ELSE -->
					<div class="imgitem f_l ">
						<a class="imglink" href="[[url::bind('detail',id)}}">
							<!-- IF parent._FIRST -->
							<img class="loadimg_w114_h160_s" data-original="[[picurl}}" src="/assets/images/noimg.gif" alt="点击播放《[[html::name(name)}}》"/>
							<!-- ELSE -->
							<img class="loadimg_w114_h160" data-original="[[picurl}}" src="/assets/images/noimg.gif" alt="点击播放《[[html::name(name)}}》"/>
							<!-- ENDIF -->
							<span class="txbg"></span>
							<span class="tx">[[note}}</span>
						</a>
						<a class="titlelink" href="[[url::bind('detail',id)}}" alt="点击查看详情《[[html::name(name)}}》">[[html::name(name)}}</a>
						<span class="yylink">[[html::actor2(actor)}}</span>
						<div class="starbox">
							<span class="starbs">
								<span class="starbb" style="width:[[channel::percent(gold)}};"></span>
							</span>
							<span class="goldtx">[[gold}}</span>
							<div class="cl"></div>
						</div>
					</div>
					<!-- ENDIF -->
					<!-- END _items -->
					<div class="cl"></div>
				</div>
			</div>
			<!-- END __comic._sons -->

		</div>
		<div class="cl"></div>
	</div>

	<div class="publicbox w300 f_r">
		<div class="pdrbox extbox p16_u_r_d7_l">
			<div class="pdrboxtab" style="height:26px;">
				<div class="titletxt titleimg_ext"></div>
				<div class="ftitletxt"><a href="[[url::bind('channel','comic')}}">更多</a></div>
			</div>
			<div class="extitembox">
				<!-- BEGIN __comic.tags equally=7 -->
				<!-- IF _EQUALLY='0' -->
				<dd><a href="[[url::bind('browse','tags',name)}}" class='last'>[[html::name(name)}}</a></dd>
				<!-- ELSE -->
				<dd><a href="[[url::bind('browse','tags',name)}}">[[html::name(name)}}</a></dd>
				<!-- ENDIF -->
				<!-- END __comic.tags -->
				<div class="cl"></div>
			</div>
		</div>

		<div id="tab_top_dm_hot" class="pdrbox p16_u11_r_d_l">
			<div id="tab_top_dm_tabbtn" class="pdrboxtab" >
				<div class="titletxt titleimg_dm"></div>
				<ul>
					<li class="cur" >日</li>
					<li>周</li>
					<li>月</li>
					<div class="cl"></div>
				</ul>
			</div>

			<div id="tab_top_dm_tabcon">
				<!-- BEGIN __comic._ranking -->
				<div class="conbox" <!-- IF _FIRST --><!-- ELSE -->style="display:none;"<!-- ENDIF -->>
					<div class="itembox">
						<!-- BEGIN _items -->
						<!-- IF _ROWCNT='1' -->
						<div class="imgitem">
							<div class="imgbox">
								<a href="[[url::bind('detail',id)}}" alt="点击查看详情《[[html::name(name)}}》">
									<img class="loadimg_w79_h110_s" data-original="[[picurl}}" src="/assets/images/noimg.gif" alt="点击播放《[[html::name(name)}}》" />
								</a>
								<div class="toplabel"></div>
							</div>
							<div class="imgtxtbox">
								<a class="titlelink" alt="点击查看详情《[[html::name(name)}}》" href="">[[html::name(name)}}</a>
								<span class="yylink"> [[html::actor2(actor)}} </span>
								<span class="yylink">上映：[[lang}}</span>
								<div class="starbox">
									<span class="starbs">
										<span class="starbb" style="width:100%;"></span>
									</span>
									<span class="goldtx">[[gold}}</span>
									<div class="cl"></div>
								</div>
								<a class="playbtn" href="" alt="点击播放《[[html::name(name)}}》"></a>
							</div>
							<div class="cl"></div>
						</div>
						<!-- ELSEIF _ROWCNT<='3' -->
						<div class="item">
							<span class="nobox ">[[_ROWCNT}}</span>
							<span class="titlelinkbox">
								<a class="hitlink" href="[[url::bind('detail',id)}}" alt="点击查看详情《[[html::name(name)}}》">[[html::name(name)}}</a>
							</span>
							<span class="datebox gold">[[gold}}</span>
							<div class="cl"></div>
						</div>
						<!-- ELSE -->
						<div class="item">
							<span class="nobox ns">[[_ROWCNT}}</span>
							<span class="titlelinkbox">
								<a class="hitlink" href="[[url::bind('detail',id)}}" alt="点击查看详情《[[html::name(name)}}》">[[html::name(name)}}</a>
							</span>
							<span class="datebox gold">[[gold}}</span>
							<div class="cl"></div>
						</div>
						<!-- ENDIF -->
						<!-- END _items -->
					</div>
					<span class="cl"></span>
				</div>
				<!-- END __comic._ranking -->
			</div>

		</div>

	</div>
	<div class="cl"></div>
</div>
<!-- //电影块 -->
