<!-- 搜索块 -->
<div class="bottomextbox">
	<div class="sextbox">
		<div class="extsbox f_l" style="width:210px;">
			<dt>电影</dt>
			<!-- BEGIN __movie.tags equally=6 -->
			<!-- IF _EQUALLY='0' -->
			<dd><a href="[[url::bind('browse','tags',name)}}" class='last'>[[html::name(name)}}</a></dd>
			<!-- ELSE -->
			<dd><a href="[[url::bind('browse','tags',name)}}">[[html::name(name)}}</a></dd>
			<!-- ENDIF -->
			<!-- END __movie.tags -->
		</div>

		<div class="extsbox f_l" style="width:240px;">
			<dt>电视剧</dt>
			<!-- BEGIN __tv.tags equally=6 -->
			<!-- IF _EQUALLY='0' -->
			<dd><a href="[[url::bind('browse','tags',name)}}" class='last'>[[html::name(name)}}</a></dd>
			<!-- ELSE -->
			<dd><a href="[[url::bind('browse','tags',name)}}">[[html::name(name)}}</a></dd>
			<!-- ENDIF -->
			<!-- END __tv.tags -->
		</div>

		<div class="extsbox f_l" style="width:170px;">
			<dt>动漫</dt>
			<!-- BEGIN __comic.tags equally=5 -->
			<!-- IF _EQUALLY='0' -->
			<dd><a href="[[url::bind('browse','tags',name)}}" class='last'>[[html::name(name)}}</a></dd>
			<!-- ELSE -->
			<dd><a href="[[url::bind('browse','tags',name)}}">[[html::name(name)}}</a></dd>
			<!-- ENDIF -->
			<!-- END __comic.tags -->
		</div>

		<div class="extsbox f_l" style="width:170px;">
			<dt>综艺</dt>
			<!-- BEGIN __variety.tags equally=5 -->
			<!-- IF _EQUALLY='0' -->
			<dd><a href="[[url::bind('browse','tags',name)}}" class='last'>[[html::name(name)}}</a></dd>
			<!-- ELSE -->
			<dd><a href="[[url::bind('browse','tags',name)}}">[[html::name(name)}}</a></dd>
			<!-- ENDIF -->
			<!-- END __variety.tags -->
		</div>

		<div class="extsbox f_l" style="width:80px;">
			<dt>专题</dt>
			<dd><a href="/special/">最新专题</a></dd>
            <dd><a href="/special/movie/">电影专题</a></dd>
            <dd><a href="/special/tv/">电视剧专题</a></dd>
            <dd><a href="/special/star/">影星专题</a></dd>
		</div>

		<div class="cl"></div>
	</div>

	<div class="searchbox_bottom">
		<div class="f_l searchbox s_bottom">
			<div class="searchformbox">
				<div class="cl"></div>
			</div>
			<div class="searchformbr">
				<form id="ffsearch_bottom" name="ffsearch_bottom" method="get" action="[[url::bind('browse')}}">
					<input type="text" name="wd" id="wd_bottom" class="input" value="" />
					<input type="submit" value="&nbsp;" class="submit" />
				</form>
			</div>
		</div>
		<div class="hitbox">
			<span class="hottitle">热门搜索：</span>
			<script type="text/javascript" src="assets/scripts/hotkey.js" charset="utf-8"></script>
		</div>
		<div class="cl"></div>
	</div>
</div>
<!-- //搜索块 -->
