<div class="box980 "><!-- md10 --> 
	<div class="f_l w720">
		<div id="specialhotimg" class="specialhotimg"> 
			<div id="specialImgCon" class="specialImgCon" style="top: -1360px; height: 1700px;"> 
				<ul> 
					<!-- BEGIN _slider -->
					<li class="silder_panel"><a href="[[link}}"><img class="loadimg_w510_h340" data-original="[[picture}}" src="[[picture}}" alt="点击查看《[[html::name(name)}}》" style="display: block;"></a></li> 
					<!-- END _slider -->
				</ul> 
			</div>

			<div id="specialImgTab" class="specialImgTab"> 
				<ul>
					<!-- BEGIN _slider -->
					<li class="" style="opacity: 0.5;"> 
						<span class="nav_1"> 
							<div class="slideitembox"> 
								<span class="simgbox">
									<a href="[[link}}"><img src="[[banner}}" alt="点击查看《[[html::name(name)}}》"></a>
								</span> 
								<span class="bigtitlebox"><a href="[[url::bind('detail',id)}}">[[html::name(name)}}</a></span> 
								<span class="smalltitlebox"><a href="[[url::bind('detail',id)}}">[[html::name(summary)}}</a></span> 
							</div> 
						</span> 
					</li>
					<!-- END _slider -->
					<div class="cl"></div>
				</ul>
			</div>

		</div> 
	</div>
	
	<div class="f_r w252"> 
		<div class="publicbox w250"> 
			<div id="tab_hot" class="specialbox p16_u11_r_d_l"> 
				<div id="tab_hot_tabbtn" class="pdrboxtab"> 
					<div class="titletxt titleimg_rqph"></div> 
					<ul> 
						<li class="cur" style="cursor: pointer;padding-left: 6px;padding-right: 8px;width: 21px;">电影</li> 
						<li style="cursor: pointer;padding-left: 6px;padding-right: 8px;width: 21px;">剧集</li>
					  <li style="cursor: pointer;padding-left: 6px;padding-right: 8px;width: 21px;">综艺</li>
					  <div class="cl"></div>
				  </ul>
				</div> 
				<div id="tab_hot_tabcon"> 
					<div class="conbox">
					  <div class="itembox">
						<!-- BEGIN _ordering.movie -->
						<!-- IF _ROWCNT<='3' -->
						<div class="item">
							<span class="nobox ">[[_ROWCNT}}</span>
							<span class="titlelinkbox"><a class="hitlink" href="[[url::bind('detail',id)}}" alt="点击查看详情《[[html::name(name)}}》">[[html::name(name)}}</a></span>
							<span class="datebox gold">[[hits}}</span>
							<div class="cl"></div>
						</div>
						<!-- ELSE -->
						<div class="item">
							<span class="nobox ns">[[_ROWCNT}}</span>
							<span class="titlelinkbox"><a class="hitlink" href="[[url::bind('detail',id)}}" alt="点击查看详情《[[html::name(name)}}》">[[html::name(name)}}</a></span>
							<span class="datebox gold">[[hits}}</span>
							<div class="cl"></div>
						</div>
						<!-- ENDIF -->
						<!-- END _ordering.movie -->
					  </div>
					  <span class="cl"></span>
					</div>
					<div class="conbox" style="display:none;">
					  <div class="itembox">
						<!-- BEGIN _ordering.tv -->
						<!-- IF _ROWCNT<='3' -->
						<div class="item">
							<span class="nobox ">[[_ROWCNT}}</span>
							<span class="titlelinkbox"><a class="hitlink" href="[[url::bind('detail',id)}}" alt="点击查看详情《[[html::name(name)}}》">[[html::name(name)}}</a></span>
							<span class="datebox gold">[[hits}}</span>
							<div class="cl"></div>
						</div>
						<!-- ELSE -->
						<div class="item">
							<span class="nobox ns">[[_ROWCNT}}</span>
							<span class="titlelinkbox"><a class="hitlink" href="[[url::bind('detail',id)}}" alt="点击查看详情《[[html::name(name)}}》">[[html::name(name)}}</a></span>
							<span class="datebox gold">[[hits}}</span>
							<div class="cl"></div>
						</div>
						<!-- ENDIF -->
						<!-- END _ordering.tv -->
					  </div>
					  <span class="cl"></span>
					</div>
					<div class="conbox" style="display:none;">
					  <div class="itembox">
						<!-- BEGIN _ordering.variety -->
						<!-- IF _ROWCNT<='3' -->
						<div class="item">
							<span class="nobox ">[[_ROWCNT}}</span>
							<span class="titlelinkbox"><a class="hitlink" href="[[url::bind('detail',id)}}" alt="点击查看详情《[[html::name(name)}}》">[[html::name(name)}}</a></span>
							<span class="datebox gold">[[hits}}</span>
							<div class="cl"></div>
						</div>
						<!-- ELSE -->
						<div class="item">
							<span class="nobox ns">[[_ROWCNT}}</span>
							<span class="titlelinkbox"><a class="hitlink" href="[[url::bind('detail',id)}}" alt="点击查看详情《[[html::name(name)}}》">[[html::name(name)}}</a></span>
							<span class="datebox gold">[[hits}}</span>
							<div class="cl"></div>
						</div>
						<!-- ENDIF -->
						<!-- END _ordering.variety -->
					  </div>
					  <span class="cl"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="cl"></div>
</div>
