<!-- 电影块 -->
<div class="box980">
	<div class="publicbox w668 f_l" id="box_tv">
		<div class="i_titlebox">
			<div class="i_title_txt f_l imgtxt_tv"></div>
			<div class="i_title_menu f_r menu_tv" id="box_tv_tabbtn">
				<ul>
					<li class="cur">今日更新</li>
					<!-- BEGIN __tv.sons -->
					<li>[[html::name(name)}}</li>
					<!-- END __tv.sons -->
					<div class="cl"></div>
				</ul>
			</div>
			<div class="cl"></div>
		</div>
		<div class="i_conbox " id="box_tv_tabcon">

			<div class="cententbox" style="display:block;">
				<div class="sibox_l">
					<div class="topone">
						<div class="imagelink">
							<a class="titlelink" href="[[url::bind('detail',__tv.choose._big.id)}}" alt="点击查看详情《[[__tv.choose._big.name}}》">
								<img class="loadimg_w234_h314_s" data-original="[[__tv.choose._big.picurl}}" src="/assets/images/noimg.gif" alt="[[__tv.choose._big.name}}" />
							</a>
							<div class="smallextbox">
								<span class="txbg"></span>
								<span class="tx"><a class="titlelink" href="[[url::bind('detail',__tv.choose._big.id)}}" >[[__tv.choose._big.name}}</a></span>
							</div>
							<div class="bigextbox">
								<span class="txbg"></span>
								<span class="tx">
									<span class="s_title"><a class="titlelink" href="[[url::bind('detail',__tv.choose._big.id)}}" >[[__tv.choose._big.name}}</a></span>
									<span class="s_txt">版本：[[__tv.choose._big.note}}</span>
									<span class="s_txt">主演：[[html::actor2(__tv.choose._big.actor)}}</span>
									<span class="s_txt mline">语言：[[__tv.choose._big.lang}}</span>
									<span class="s_txt mline">类型：[[html::tags(__tv.choose._big.tags)}}</span>
									<span class="s_txt">简介：[[html::content2(__tv.choose._big.content)}}</span>
								</span>
								<span class="glodbox">[[__tv.choose._big.gold}}</span>
							</div>
						</div>
					</div>

					<div class="topstv">
						<div class="toptitle imgtitletv"></div>
						<div id="synchtab" class="ui-synch-cnt fn-clear">
							<ul id="tab_synch_tabbtn" class="ui-synch-tab">
								<li class="cur  " style="cursor: pointer;">湖南卫视</li>
								<li class="  " style="cursor: pointer;">江苏卫视</li>
								<li class="  " style="cursor: pointer;">北京卫视</li>
								<li class="  " style="cursor: pointer;">安徽卫视</li>
								<li class=" last " style="cursor: pointer;">浙江卫视</li>
							</ul>
							<div id="tab_synch_tabcon">
								<ol class="ui-synch-item" style="display: block;">
									<li class="top "><a target="_blank" title="新笑傲江湖" href="">1.新笑傲江湖</a></li>
									<li class="top two"><a target="_blank" title="隋唐英雄" href="">2.隋唐英雄 张卫健版</a></li>
									<li class="top "><a target="_blank" title="胭脂霸王" href="">3.胭脂霸王</a></li>
								</ol>
								<ol class="ui-synch-item">
									<li class="top "><a target="_blank" title="" href="">1.乡村爱情6/乡村爱情变</a></li>
									<li class="top two"><a target="_blank" title="" href="">2.战旗[电视剧]</a></li>
								</ol>
								<ol class="ui-synch-item"> </ol>
								<ol class="ui-synch-item">
									<li class="top "><a target="_blank" title="" href="">1.爱情自有天意</a></li>
									<li class="top two"><a target="_blank" title="" href="">2.糟糠之妻俱乐部 国语</a></li>
								</ol>
								<ol class="ui-synch-item">
									<li class="top "><a target="_blank" title="" href="">1.凤凰牡丹/美人关</a></li>
								</ol>
								<div class="cl"></div>
							</div>
							<div class="cl"></div>
						</div>
					</div>

				</div>

				<div class="sibox_r">
					<div class="imgitembox">
						<!-- BEGIN __tv.choose._choose equally=3 -->
						<!-- IF _EQUALLY=0 -->
						<div class="imgitem last">
							<a class="imglink" href="[[url::bind('detail',id)}}">
								<img class="loadimg_w114_h160_s" data-original="[[picurl}}" src="/assets/images/noimg.gif" alt="点击播放《[[html::name(name)}}》" />
								<span class="txbg"></span>
								<span class="tx">[[note}}</span>
							</a>
							<a class="titlelink" href="[[url::bind('detail',id)}}" alt="点击查看详情《[[html::name(name)}}》">[[html::name(name)}}</a>
							<span class="yylink">[[html::actor2(actor)}}</span>
							<div class="starbox">
								<span class="starbs">
									<span class="starbb" style="width:[[channel::percent(gold)}};"></span>
								</span>
								<span class="goldtx">[[gold}}</span>
								<div class="cl"></div>
							</div>
						</div>
						<!-- ELSE -->
						<div class="imgitem">
							<a class="imglink" href="[[url::bind('detail',id)}}">
								<img class="loadimg_w114_h160_s" data-original="[[picurl}}" src="/assets/images/noimg.gif" alt="点击播放《[[html::name(name)}}》" />
								<span class="txbg"></span>
								<span class="tx">[[note}}</span>
							</a>
							<a class="titlelink" href="[[url::bind('detail',id)}}" alt="点击查看详情《[[html::name(name)}}》">[[html::name(name)}}</a>
							<span class="yylink">[[html::actor2(actor)}}</span>
							<div class="starbox">
								<span class="starbs">
									<span class="starbb" style="width:[[channel::percent(gold)}};"></span>
								</span>
								<span class="goldtx">[[gold}}</span>
								<div class="cl"></div>
							</div>
						</div>
						<!-- ENDIF -->
						<!-- END __tv.choose._choose -->
						<div class="cl"></div>
					</div>
				</div>
				<div class="cl"></div>
			</div>

			<!-- BEGIN __tv._sons -->
			<div class="cententbox">
				<div class="imgitembox">
					<!-- BEGIN _items equally=5 -->
					<!-- IF _EQUALLY=0 -->
					<div class="imgitem f_l last">
						<a class="imglink" href="[[url::bind('detail',id)}}">
							<img class="loadimg_w114_h160" data-original="[[picurl}}" src="/assets/images/noimg.gif" alt="点击播放《[[html::name(name)}}》" />
							<span class="txbg"></span>
							<span class="tx">[[note}}</span>
						</a>
						<a class="titlelink" href="[[url::bind('detail',id)}}" alt="点击查看详情《[[html::name(name)}}》">[[html::name(name)}}</a>
						<span class="yylink">[[html::actor2(actor)}}</span>
						<div class="starbox">
							<span class="starbs">
								<span class="starbb" style="width:[[channel::percent(gold)}};"></span>
							</span>
							<span class="goldtx">[[gold}}</span>
							<div class="cl"></div>
						</div>
					</div>
					<!-- ELSE -->
					<div class="imgitem f_l ">
						<a class="imglink" href="[[url::bind('detail',id)}}">
							<img class="loadimg_w114_h160" data-original="[[picurl}}" src="/assets/images/noimg.gif" alt="点击播放《[[html::name(name)}}》" />
							<span class="txbg"></span>
							<span class="tx">[[note}}</span>
						</a>
						<a class="titlelink" href="[[url::bind('detail',id)}}" alt="点击查看详情《[[html::name(name)}}》">[[html::name(name)}}</a>
						<span class="yylink">[[html::actor2(actor)}}</span>
						<div class="starbox">
							<span class="starbs">
								<span class="starbb" style="width:[[channel::percent(gold)}};"></span>
							</span>
							<span class="goldtx">[[gold}}</span>
							<div class="cl"></div>
						</div>
					</div>
					<!-- ENDIF -->
					<!-- END _items -->
					<div class="cl"></div>
				</div>
			</div>
			<!-- END __tv._sons -->

		</div>
		<div class="cl"></div>
	</div>

	<div class="publicbox w300 f_r">
		<div class="pdrbox extbox p16_u_r_d7_l">
			<div class="pdrboxtab" style="height:26px;">
				<div class="titletxt titleimg_ext"></div>
				<div class="ftitletxt"><a href="[[url::bind('channel','tv')}}">更多</a></div>
			</div>
			<div class="extitembox">
				<!-- BEGIN __tv.tags equally=7 -->
				<!-- IF _EQUALLY='0' -->
				<dd><a href="[[url::bind('browse','tags',name)}}" class='last'>[[html::name(name)}}</a></dd>
				<!-- ELSE -->
				<dd><a href="[[url::bind('browse','tags',name)}}">[[html::name(name)}}</a></dd>
				<!-- ENDIF -->
				<!-- END __tv.tags -->
				<div class="cl"></div>
			</div>
		</div>

		<div id="tab_top_tv_hot" class="pdrbox p16_u11_r_d_l">
			<div id="tab_top_tv_tabbtn" class="pdrboxtab" >
				<div class="titletxt titleimg_tv"></div>
				<ul>
					<li class="cur" >日</li>
					<li>周</li>
					<li>月</li>
					<div class="cl"></div>
				</ul>
			</div>

			<div id="tab_top_tv_tabcon">
				<!-- BEGIN __tv._ranking -->
				<div class="conbox" <!-- IF _FIRST --><!-- ELSE -->style="display:none;"<!-- ENDIF -->>
					<div class="itembox">
						<!-- BEGIN _items -->
						<!-- IF _ROWCNT='1' -->
						<div class="imgitem">
							<div class="imgbox">
								<a href="[[url::bind('detail',id)}}" alt="点击查看详情《[[html::name(name)}}》">
									<img class="loadimg_w79_h110_s" data-original="[[picurl}}" src="/assets/images/noimg.gif" alt="点击播放《[[html::name(name)}}》" />
								</a>
								<div class="toplabel"></div>
							</div>
							<div class="imgtxtbox">
								<a class="titlelink" alt="点击查看详情《[[html::name(name)}}》" href="">[[html::name(name)}}</a>
								<span class="yylink"> [[html::actor2(actor)}} </span>
								<span class="yylink">上映：[[lang}}</span>
								<div class="starbox">
									<span class="starbs">
										<span class="starbb" style="width:100%;"></span>
									</span>
									<span class="goldtx">[[gold}}</span>
									<div class="cl"></div>
								</div>
								<a class="playbtn" href="" alt="点击播放《[[html::name(name)}}》"></a>
							</div>
							<div class="cl"></div>
						</div>
						<!-- ELSEIF _ROWCNT<='3' -->
						<div class="item">
							<span class="nobox ">[[_ROWCNT}}</span>
							<span class="titlelinkbox">
								<a class="hitlink" href="[[url::bind('detail',id)}}" alt="点击查看详情《[[html::name(name)}}》">[[html::name(name)}}</a>
							</span>
							<span class="datebox gold">[[gold}}</span>
							<div class="cl"></div>
						</div>
						<!-- ELSE -->
						<div class="item">
							<span class="nobox ns">[[_ROWCNT}}</span>
							<span class="titlelinkbox">
								<a class="hitlink" href="[[url::bind('detail',id)}}" alt="点击查看详情《[[html::name(name)}}》">[[html::name(name)}}</a>
							</span>
							<span class="datebox gold">[[gold}}</span>
							<div class="cl"></div>
						</div>
						<!-- ENDIF -->
						<!-- END _items -->
					</div>
					<span class="cl"></span>
				</div>
				<!-- END __tv._ranking -->
			</div>

		</div>

	</div>
	<div class="cl"></div>
</div>
<!-- //电影块 -->
