<!-- 有言块 --> 
<div class="box980 md10 blogbox"> 
	<div class="bitem" style="width:628px;"> 
		<div class="w_title v_commect"></div> 
		<div class="v_commect_item_box"> 
			<div id="uyan_hotcmt_unit"></div> 
			<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1723658"></script>
		</div> 
	</div> 
	<div class="bitem" style="width:260px; margin-left:8px;"> 
		<div class="w_title v_wb"></div> 
		<div class="vitembox"> 
			<div class="vitem"> 
				<wb:follow-button uid="3227372664" type="red_3" width="100%" height="22"></wb:follow-button> 
			</div> 

			<div class="vitem">
				<iframe id="review" height="20" marginheight="0" src="http://follow.v.t.qq.com/index.php?c=follow&a=quick&name=wm527_t&style=3&t=1363716271467&f=1" frameborder="0" width="208" allowtransparency marginwidth=0></iframe>
			</div>

			<div class="vitem"> 
				<iframe src="http://open.qzone.qq.com/like?url=http%3A%2F%2Fuser.qzone.qq.com%2F729343962&type=button_num&width=400&height=30&style=2" allowtransparency="true" scrolling="no" border="0" frameborder="0" style="width:100%;height:22px;border:none;overflow:hidden;"></iframe>
			</div> 
		</div> 

		<div class="v_vx_img">
			<a target="_blank" href="/assets/images/bigwx.jpg">
				<img class="wxlogo" src="/assets/images/bwx.jpg" />
			</a>
		</div> 
	</div> 
	<div class="cl"></div>
</div>
<!-- //有言块 -->
