{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="zh-CN"/>
    <title>{{ title }} - 蜜糖影视</title>
    <meta name="keywords" content="{{ keywords }}"/>
    <meta name="description" content="{{ description }}"/>
    <meta name="baidu-site-verification" content="USHlWTqt5i"/>
    <meta property="qc:admins" content="3571510677651541676375"/>
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/screen.css' %}"/>
</head>
<body>
{% include 'header.inc.html' %}
{% block container %} {% endblock %}
{% include 'footer.inc.html' %}
<script language="javascript">
    var Root = '/';
var Sid = '';
var Cid = '';
var JsCssFtpDir = '/';
var Id = '';</script>
<!--[if lt IE 9]>
    <script type="text/javascript" src="{% static 'frontend/js/jquery/jquery-1.9.0.min.js' %}"></script>
<![endif]-->
<!--[if gte IE 9]>
    <script type="text/javascript" src="{% static 'frontend/js/jquery/jquery-2.0.0.min.js' %}"></script>
<![endif]-->
<script type="text/javascript" src="{% static 'frontend/js/jquery.1.5.min.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'frontend/js/jquery/jquery.lazyload.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'frontend/js/jquery/jquery.tab.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'frontend/js/jquery/jquery.autocomplete.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'frontend/js/custom.js' %}" charset="utf-8"></script>

{% block javascript %} {% endblock %}
{% include 'stat.inc.html' %}

</body>
</html>