<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wb="http://open.weibo.com/wb">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="zh-CN" />
<title>{{_header.title}}百度影音 - 蜜糖影视</title>
<meta name="keywords" content="{{_header.keywords}}" />
<meta name="description" content="{{_header.description}}" />
<link rel="stylesheet" type="text/css" href="/assets/styles/screen.css" />
</head>
<body>

<div class="header_s_mainmenu">
  <div class="box980" >
    <div class="f_l">
      <ul class="header_s_smallmainmenu" >
        <li class="header_s_smalllogobox"></li>
        <li class="index"><a href="/" class="maina_s index">首页</a></li>
        <li class="daohang"> <a href="#" class="maina_s daohang">导航</a>
          <div class="satvbox">
            <div class="satvbox_s_dh">
              <div class="satv dhbox">
                <div class="smallitembox sib_movie">
                  <a class="title" href="{{url::bind('channel','movie')}}">电影</a>
                  <!-- BEGIN _movie -->
                  <a href="{{url::bind('channel',alias)}}" class="item">{{name}}</a>
                  <!-- END _movie -->
                </div>

                <div class="smallitembox sib_tv">
                  <a class="title" href="{{url::bind('channel','tv')}}">电视剧</a>
                  <!-- BEGIN _tv -->
                  <a href="{{url::bind('channel',alias)}}" class="item">{{name}}</a>
                  <!-- END _tv -->
                </div>

                <div class="smallitembox sib_spcial">
                  <a class="title" href="{{url::bind('spcial')}}">专题</a>
                  <!-- BEGIN spcial_items -->
                  <a href="{{url::bind('spcial',alias)}}" class="item">{{name}}</a>
                  <!-- END spcial_items -->
                </div>

                <div class="smallitembox sib_other">
                  <a href="{{url::bind('channel','variety')}}">综艺</a>
                  <a href="{{url::bind('channel','comic')}}">动漫</a>
                  <a href="{{url::bind('top')}}">风云榜</a>
                  <a href="{{url::bind('update')}}">最新更新</a>
                </div>
                <div class="cl"></div>
              </div>
            </div>
          </div>
        </li>
        <div class="cl"></div>
      </ul>
    </div>
    <div class="f_l searchbox" style="margin-right:8px;" >
      <div class="searchformbox" style="top:9px;">
        <div class="cl"></div>
      </div>
      <div class="searchformbr" style="top:11px;">
        <form id="form-search" name="form-search" method="get" action="{{url::bind('browse')}}" target="_blank">
          <input type="text" name="wd" id="wd" class="input" value="{{_wd}}"/>
          <input type="submit" value="&nbsp;" class="submit"/>
        </form>
      </div>
    </div>
    <div class="f_l">
      <ul class="header_s_smallmainmenu">
        <li class="gbook"><a href="{{url::bind('feedback')}}" class="maina_s gbook" target="_blank">留言</a></li>
        <li class="sc"> <a href="#" class="maina_s sc">搜藏</a>
          <div class="satvbox">
            <div class="satvbox_s_sc">
              <div class="satv scbox">
                <a id="smallscbtn" href="#" class="even">保存到搜藏夹</a>
                <a href="{{url::bind('desktop',_video.id)}}" class="odd" target="_blank">保存到桌面</a>
              </div>
            </div>
          </div>
        </li>
        <li class="down">
          <a href="#" class="maina_s down">下载</a>
          <div class="satvbox">
            <div class="satvbox_s_down">
              <div class="satv downbox">
                <a class="even" rel='nofollow' href="http://dl.p2sp.baidu.com/BaiduPlayerAB3.0.php?tn=100" target="_blank">百度播放器下载</a>
                <a class="odd" rel='nofollow' href="http://dl.kuaibo.com/QvodSetup5.exe" target="_blank">快播播放器下载</a>
              </div>
            </div>
          </div>
        </li>
        <li class="playbook"> <a href="l#" class="maina_s playbook">播放记录</a>
          <div class="satvbox" style="left:-175px;">
            <div class="satvbox_s_playbook">
              <div id="smallhistory" class="satv playbookbox">-</div>
            </div>
          </div>
        </li>
        <div class="cl"></div>
      </ul>
    </div>
    <div class="cl"></div>
  </div>
</div>

{{container}}
<!-- #include virtual="footer.inc.html" -->
<script language="javascript">var Root='/';var Sid='';var Cid='';var JsCssFtpDir='/';var Id='';</script>
<script language="javascript" src="/assets/scripts/jquery.1.5.min.js" charset="utf-8"></script>
<script language="javascript" src="/assets/scripts/jquery/jquery.autocomplete.js" charset="utf-8"></script>
<script language="javascript" src="/assets/scripts/jquery/jquery.lazyload.js" charset="utf-8"></script>
<script language="javascript" src="/assets/scripts/jquery/jquery.tab.js" charset="utf-8"></script>
<script language="javascript" src="/assets/scripts/custom.js"></script>
{{javascript}}
<!-- #include virtual="stat.inc.html" -->
</body>
</html>