{% extends "account/layout.html" %}
{% block content %}
    <body class="bgffffff" style="text-align:center;">
    <main class="main-band2">
        <div><input class="band-input" type="tel" id="userTellNumber"  maxlength="13"
                    placeholder="请输入您的手机号"/>

        </div>
        <div class="prompt" id="telNumPro">请输入11位手机号</div>
        <div class="clearfix">
            <input class="band-input1 fl" type="tel" disabled="disabled" id="checkpassword" maxlength="6"
                   placeholder="请输入验证码"/>
            <input class="band-getcodebutton fr" id="authCoceBut" disabled="disabled" type="button" value="获取验证码"/>
        </div>
        <div class="prompt" id="autoCodePro">请输入6位验证码</div>
        <div>
            <button class="ladda-button" id="band-button" disabled="disabled" data-color="green" data-style="zoom-in">
                <span class="ladda-label">绑&nbsp;&nbsp;定</span>
            </button>
        </div>

        <input type="hidden" id="resultCodeId" value="">
    </main>

    <input type="hidden" name="state" id="isChargeID" value="0">

    <div id="poputId">
    </div>
    <div class="popup-content">
        <div class="popup-txt" id="popup-txtId"></div>
        <div class="popup-btn" id="popup-btnId">好</div>
    </div>

    <div class="band-instruction">
        <span>绑定号码、自助查询、业务办理、服务优惠尽在手中。</span>
    </div>

    <footer class="footer fixed bgf0f0f2">
        <div class="copyright">Copyright&copy;2016 {{ site_name }} 版权所有</div>
    </footer>

    <!--引导关注蒙版开始-->
    <div class="modal js_attention" style="display:none">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="header-title">扫描或长按二维码图片前往公众号</div>
                    <div class="header-description">查流量，查话费；实名补登记；积分查兑；已订购业务；历史账单；优惠集锦；新品手机购买，尽在“中国移动10086”微信公众 服务号。
                    </div>
                </div>
                <div class="modal-body">
                    <img class="main-img" src="">
                    <img class="icon-img" src="../img/icon_yidong.png">
                </div>
                <div class="modal-foot">微信环境下长按可识别二维码</div>
            </div><!-- nav-tabs-custom -->
        </div>
    </div>
    <!--引导关注蒙版结束-->
    </body>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">

        var isMkactivity = '';

        var wait = 60;
        var autoCodeErro = false; //验证有误的情况标志

        $(function () {
            //获取屏幕高度
            var height = $(window).height();
            $('.modal').css('height', height);

            //引导关注
            var adminUser = 'com.mochasoft.app.wechatwebsite.entitys.AdminUser@150c45';


            //验证码输入框获取焦点
            $('#checkpassword').focus(function () {

                var value = $.trim($('#checkpassword').val());

                if (value.length == 6) {
                    authCodeShowCss(0);
                } else {
                    authCodeShowCss(3);
                }


                var resutlCode = $("#resultCodeId").val();

                if (resutlCode == 6001) {
                    $("#checkpassword").val("");
                    $('#band-button').attr("disabled", "disabled");
                } else if (resutlCode == 6002) {
                    $("#checkpassword").val("");
                    $('#band-button').attr("disabled", "disabled");
                }

                $("#resultCodeId").val("");
                var value = $.trim($('#userTellNumber').val());

                if (checkTelNum(value) == 1) {
                    telNumShowCss(1);
                }
            });

            //重新获取焦点
            $('#userTellNumber').focus(function (e) {
                telNumShowCss(0);
                authCodeShowCss(0);
            });

            $('#authCoceBut').click(function () {
                if ("disabled" == $("#checkpassword").attr("disabled")) {
                    $("#checkpassword").removeAttr("disabled");
                    $("#checkpassword").focus();
                }
            });

            function keyUpOrDown(telNo, type) {
                var _this = telNo;
                re = new RegExp("-", "g");
                var _val = $.trim(_this.val()).replace(re, "");
                telNo.val(_val);
                var _flag;
                var _split;
                var _split2;
                //复制粘贴优化
                if (_val.length > 3) {
                    _flag = _this.val().substr(3, 1);
                    if ("-" != _flag) {
                        _split = _val.substr(0, 3);
                        _split2 = _this.val().substr(3, _val.length - 3);
                        _split = _split + "-" + _split2;
                        telNo.val(_split);
                        _val = _split;
                    }
                    if (_val.length > 8) {
                        _flag = _this.val().substr(8, 1);
                        if ("-" != _flag) {
                            _split = _val.substr(0, 8);
                            _split2 = _this.val().substr(8, _val.length - 8);
                            _split = _split + "-" + _split2;
                            telNo.val(_split);
                            _val = _split;
                        }
                    }

                }
                if (_val.length == 13) {
                    //字符串重新排列s
                    $('#telNumPro').css("display", "none");
                    $('#authCoceBut').removeAttr("disabled");

                    //非移动电话号码校验
                    if (checkTelNum(_val) == 2) {
                        telNumShowCss(2);
                        $('#authCoceBut').attr("disabled", "disabled");
                        return;
                    }

                    //校验绑定按钮
                    if (autoCodeValidate($('#checkpassword').val())
                            && checkTelNum(_val) != 1) {
                        $('#band-button').removeAttr("disabled");
                    }
                    $('#checkpassword').removeAttr("disabled");
                } else {
                    $('#band-button').attr("disabled", "disabled");
                    $('#telNumPro').css("display", "block");
                    $('#authCoceBut').attr("disabled", "disabled");
                    $('#checkpassword').attr("disabled", "disabled");
                }
            }

            //$('#userTellNumber').keydown(function(){
            //	telNumShowCss(0);
            //	 keyUpOrDown($(this));
            //});
            //电话号码输入
            $('#userTellNumber').keyup(function () {
                telNumShowCss(0);
                keyUpOrDown($(this));

                if ($('#userTellNumber').val().length == 13) {

                    $('#userTellNumber').blur();
                }
            });

            //验证码数据输入
            $('#checkpassword').keyup(function () {
                var patteran = /\D/g;
                if (patteran.test(this.value)) {
                    this.value = this.value.replace(/\D/g, '');
                    return;
                }

                var _this = $(this);
                var _val = $.trim(_this.val());
                if (_val.length == 6) {
                    $('#autoCodePro').css("display", "none");

                    //校验绑定按钮
                    if (checkTelNum($('#userTellNumber').val()) != 1) {
                        $('#band-button').removeAttr("disabled");
                    }

                    $('#checkpassword').blur();
                } else {
                    $('#band-button').attr("disabled", "disabled");
                    $('#autoCodePro').css("display", "block");


                }
            });


            var sh;
            //时间控制
            function time(o) {
                if (wait == 0) {
                    $(".band-getcodebutton").attr('disabled', false);
                    $(".band-getcodebutton").val("获取验证码");
                    wait = 60;
                } else {
                    $(".band-getcodebutton").attr('disabled', true);
                    $(".band-getcodebutton").val(" " + wait + " 秒");
                    wait--;
                    sh = setTimeout(function () {
                                time(this)
                            },
                            1000)
                }
            }

            //绑定按钮控制样式完毕
            $(".band-getcodebutton").click(function getCode(o) {
                //移动号码完整性校验
                var value = $.trim($('#userTellNumber').val());
                {
                    //转换手机号码格式
                    var numberValue = value.replace(/-/g, "");
                    var o = this;
                    time(this);
                    //ajax 请求下发短信验证码
                    $.ajax({
                        url: "/account/verify/",
                        type: "POST",
                        dataType: "json",
                        data: {
                            "openid": "{{ openid }}",
                            "mobile": numberValue,
                            'timestamp': "{{timestamp}}",
                            'sign': "{{ sign }}"
                        },
                        success: function (data) {
                            if (data.err != "0") {
                                alert(data.msg);
                            }
                            else {
                                {#                                $('#checkpassword').removeAttr("disabled");#}
                                {#                                wait = 60;#}
                                {#                                $(".band-getcodebutton").attr('disabled', true);#}
                                {#                                $(".band-getcodebutton").val("获取验证码");#}
                                {#                                clearTimeout(sh);#}
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert("出错了");
                        }
                    });

                }
            });

            //点击蒙阴按钮
            $("#popup-btnId").click(function (e) {
                $("#popup-txtId").val("");
                $("#poputId").removeClass("mask");
                $(".mask").css('display', 'none');
                $(".popup-content").css('display', 'none');

            });

            //蒙版控制函数
            function fadeCtr(value) {
                $("#poputId").addClass("mask");
                $("#popup-txtId").text("");
                $("#popup-txtId").text(value);
                $(".mask").css('display', 'block');
                $(".popup-content").css('display', 'block');
            }

            var l = Ladda.create(document.querySelector('.ladda-button'));


            //表单提交
            $("#band-button").click(function (e) {
                $('#band-button').attr("disabled", "disabled");
                if (dataValidateCheck() == true) {
                    var numberValue = $.trim($("#userTellNumber").val()).replace(/-/g, "");
                    var checkpassword = $.trim($("#checkpassword").val());
                    l.start();
                    // var notopen_provice = "江苏";//未开通省，多个以逗号间隔
                    //校验归属地是否是未开通的省
                    // var flag = notOpenProvinceCheck(userName, notopen_provice);
                    //绑定提交
                    $.ajax({
                        url: "/account/verify/",
                        type: "POST",
                        dataType: "json",
                        data: {
                            "openid": "{{ openid }}",
                            "mobile": numberValue,
                            "verify": checkpassword,
                            'timestamp': "{{timestamp}}",
                            'sign': "{{ sign }}"
                        },
                        success: function (data) {
                            if (data.err == "0") {//绑定成功   跳转到绑定页面
                                window.location.href = "/account/success/{{ openid }}/";
                                $('#band-button').removeAttr("disabled");
                            } else {
                                //绑定失败
                                $('#band-button').removeAttr("disabled");

                                window.location.href = "/account/errors/";


                                $('#band-button').removeAttr("disabled");
                            }

                            l.stop();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            //系统异常
                            window.location.href = "/account/errors/";
                            $('#band-button').removeAttr("disabled");x
                        }
                    });
                }
            });

            //移动手机号校验
            function checkTelNum(value) {
                //正则匹配  格式校验
                var patter = /^\d{3}-\d{4}-\d{4}$/;
                if (!patter.test(value)) {
                    return 1;
                }

                //移动号码校验
                // var orignalValue = value.replace(/-/g, "");
                /**
                 * 手机号码:
                 * 13[0-9], 14[5,7], 15[0, 1, 2, 3, 5, 6, 7, 8, 9], 17[6, 7, 8], 18[0-9], 170[0-9]
                 * 移动号段: 134,135,136,137,138,139,150,151,152,157,158,159,182,183,184,187,188,147,178,1705
                 * 联通号段: 130,131,132,155,156,185,186,145,176,1709
                 * 电信号段: 133,153,180,181,189,177,1700
                 * var pattern_chnel = /(^1(3[4-9]|5[012789]|8[23478])\d{8}$)|(^1705\d{7}$)/;
                 *  if(!pattern_chnel.test(orignalValue)){//非移动手机号码
		  * 	  return 2;
		  *  }
                 */
                // var pattern_chnel = /(^1\d{10}$)/;
                // if (!pattern_chnel.test(orignalValue)) {//非移动手机号码
                //     return 2;
                // }
            }

            //验证码正确性校验
            function autoCodeValidate(value) {
                var patter = /^\d{6}$/;
                if (!patter.test(value)) {
                    return false;
                }
                return true;
            }

            //电话号码输入不是11位是的状态显示
            function telNumShowCss(value) {

                if (value == 1) { //电话不足11位时样式显示
                    $('#userTellNumber').addClass("borderRed");
                    $('#telNumPro').addClass("red");
                    $('#telNumPro').css("display", "block");
                }
                // else if (value == 2) {//电话号码输入不是移动电话号码显示
                //     $('#userTellNumber').addClass("borderRed");
                //     $('#telNumPro').addClass("red");
                //     $('#telNumPro').css("display", "block");
                //     $('#telNumPro').text("请输入中国移动手机号码");
                // }
                else if (value == 0) {//电话号码输入框恢复原来的显示
                    $('#userTellNumber').removeClass("borderRed");
                    $('#telNumPro').removeClass("red");
                    $('#telNumPro').text("请输入11位手机号码");
                    $('#telNumPro').css("display", "none");
                }
            }

            //但仅有验证码没有电话号码时样式显示
            function authCodeShowCss(value) {
                if (value == 1) { //单电话号码为空  验证码不为空是的css样式显示
                    $('#checkpassword').addClass("borderRed");
                    $('#autoCodePro').text("请输入手机号码");
                    $('#autoCodePro').css("display", "block");
                    $('#autoCodePro').addClass("red");
                } else if (value == 2 || value == 6002) {//验证码输入有误的情况
                    $('#checkpassword').addClass("borderRed");
                    $('#autoCodePro').text("验证码有误，请稍后重新获取验证码");
                    $('#autoCodePro').css("display", "block");
                    $('#autoCodePro').addClass("red");
                    $("#checkpassword").attr("disabled", "disabled");
                } else if (value == 0) {
                    $('#checkpassword').removeClass("borderRed");
                    $('#autoCodePro').text("请输入6位验证码");
                    $('#autoCodePro').removeClass("red");
                    $('#autoCodePro').css("display", "none");
                } else if (value == 6001) {
                    $('#checkpassword').addClass("borderRed");
                    $('#autoCodePro').text("验证码超时，请重新获取验证码");
                    $('#autoCodePro').css("display", "block");
                    $('#autoCodePro').addClass("red");
                } else if (value == 3) {
                    $('#checkpassword').removeClass("borderRed");
                    $('#autoCodePro').text("请输入6位验证码");
                    $('#autoCodePro').removeClass("red");
                    $('#autoCodePro').css("display", "block");
                }
            }


            //电话号码验证
            function telNumValidate(value) {
                if (checkTelNum(value) == 1) {
                    telNumShowCss(1);
                    return false;
                }

                if (checkTelNum(value) == 2) {
                    telNumShowCss(2);
                    return false;
                }

                return true;
            }


            //提交数据有效性校验
            function dataValidateCheck() {
                //电话号码
                var telNum = $.trim($('#userTellNumber').val());
                //验证码
                var authCode = $.trim($('#checkpassword').val());

                if (authCode.length == 0) { //验证么为空的情况

                    if (telNumValidate(telNum) == false) {//电话验证
                        return false;
                    }
                    //验证码验证
                    if (autoCodeValidate(authCode) == false) {
                        authCodeShowCss(2);
                        return false;
                    }

                } else {

                    if (telNum.length == 0) {//电话号码不为空
                        authCodeShowCss(1);//验证码显示
                        telNumShowCss(0);//电话号码显示
                        return false;
                    }

                    if (telNumValidate(telNum) == false) {//电话验证的情况
                        return false;
                    }

                    //验证码验证
                    if (autoCodeValidate(authCode) == false) {
                        authCodeShowCss(2);
                        return false;
                    }
                }
                return true;
            }
        });

    </script>
{% endblock %}
