{% extends "account/layout.html" %}
{% load static %}
{% block content %}
<main class="main-band1 bgffffff">
    <div><img class="icon-Mr86" src="{% static 'frontend/img/Mr86_success.png' %}"/></div>
    <div class="height25 color969BA0 mgt15 fonttype_black">绑定手机号为：{{member.mobile}}</div>
    <div class="mgt15 fontblock_600 fonttype_black textall">您已成功绑定手机号，可以享用各项查询、办理功能。还有各种优惠活动等你参加！</div>
    <div class="band-border">{{short}}</div>
</main>

<div class="band-content" style="display: none">
    <div>       
        <input id="unBindBtnID" type="button" class="band-button fontblock_600" value="解除绑定"/>
    </div>
</div>

{% endblock %}
