
# django plugins
django
django-suit
django-import-export
django-model-utils
django_extensions
django-environ
django-secure
django-celery
django-mptt

django-suit-ckeditor
django-suit-redactor
django-extra-fields


# librares
easy_thumbnails
whitenoise


django-imagekit
django-easy-select2
short_url

qrcode
django-reversion==1.10.2


gunicorn
psycopg2
meinheld
gevent
greenlet==0.4.9

# Redis support
django-redis-cache
django-redis
redis
click
plan
