<!-- #layout name='frontend.html' block='container' -->
<div class="box980">
    <div class="f_l w670">
    <div class=" publicbox w668">
      <div class="vodlistbox">
        <div class="mbxboxbox">
          <div class="mbxbox"><a href="/">蜜糖影院</a><span class="line">&raquo;</span>搜索 "{{security::xss_clean(_keywords)}}"</div>
          <div class="mbxbox_r"></div>
          <div class="cl"></div>
        </div>
        <!-- BEGIN _videos.items -->
        <div class="vl_item">
          <div class="item_imgbox">
            <a href="{{url::bind('detail',id)}}">
              <img class="loadimg_w234_h314" data-original="{{picurl}}" src="{{picurl}}" alt="点击播放《{{name}}》" />
            </a>
          </div>
          <div class="item_text">
            <ul>
              <h2>
                <a href="{{url::bind('detail',id)}}">{{name}}&nbsp;</a>
                <span class="stitle">{{note}}</span>
                <div class="cl"></div>
              </h2>
              <div class="item_text_st">
                <p>导演：{{html::director(director)}}</p>
                <p style="height:24px; overflow:hidden;">
                  <span class="zybox_t">主演：</span>
                  <span class="zybox">{{html::actor(actor)}}</span>
                  <span class="cl"></span>
                </p>
                <p>类型：{{html::value(channel)}}&nbsp;&nbsp;地区：{{html::value(area)}}</p>
                <p>上映：{{html::value(year)}}&nbsp;&nbsp;更新：{{date::long(modified)}}</p>
                <p class="infocontent">{{html::content2(content)}}</p>
              </div>
            </ul>
          </div>
          <div class="xq_btn">
            <a class="ak" href="{{url::bind('video',id,'0','1')}}">在线观看</a>
            <a class="as" href="{{url::bind('detail',id)}}">影片详情</a>
            <a href="{{url::bind('detail',id)}}#uyan" id="uyan_count_unit" class="av" >影评(0)</a>
            <div class="cl"></div>
          </div>
        </div>
        <div class="cl"></div>
        <div class="line-x"></div>
        <!-- END _videos.items -->
        {{_videos.pages > _pagination}}
        <div class="pages">
          <div class="ptbox">
            <!-- IF _pagination.prev -->
            <span class="p_up_y"><a href="{{_pagination.prev}}" class="up">&nbsp;</a></span>
            <!-- ELSE -->
            <span class="p_up_n">&nbsp;</span>
            <!-- ENDIF -->
            <!-- BEGIN _pagination.pages -->
            <!-- IF link -->
            <span class="p_n_y"><a href="{{link}}">{{title}}</a></span>
            <!-- ELSE -->
            <span class="p_n_n">{{title}}</span>
            <!-- ENDIF -->
            <!-- END _pagination.pages -->
            <!-- IF _pagination.end<>"" -->
            <span class="linesl">...</span>
            <span class="p_n_y"><a href="{{_pagination.end}}">{{_pagination.pagecount}}</a></span>
            <!-- ENDIF -->
            <!-- IF _pagination.next -->
            <span class="p_down_y"><a href="{{_pagination.next}}" class="pagegbk">&nbsp;</a></span>
            <!-- ELSE -->
            <span class="p_down_n"></span>
            <!-- ENDIF -->
          </div>
          <div class="cl"></div>
        </div>

      </div>
      <div style="padding:0px 22px 20px 22px; width:624px;"><div class="cl"></div></div>
    </div>
  </div>
  <div class="f_r w302">
  <!-- #include virtual="sidebar/ranking.inc.html" -->
  </div>
  <div class="cl"></div>
</div>
<!-- #block name='javascript' -->
<script type="text/javascript">
$(function(){
  $("#tab_hot").tab({
    tabId:"#tab_hot_tabbtn",tabTag:"li",conId:"#tab_hot_tabcon",conTag:"div.conbox",act:"mouseover"
  });
  $("img.loadimg_w234_h314").lazyload({effect:"fadeIn",errorimgpic:JsCssFtpDir+'/template/jn528.com/images/no-pic-d.gif'});
});
</script>
<!-- #block end -->
