@charset "utf-8";
.mainbox404{margin-bottom:0; overflow:hidden; background-color:#FFF; border:1px solid #afafaf; _height:1%;width:1020px; margin-left:auto; margin-right:auto;margin-top:20px;}
.mainbox404 .m_left{ background:url(../img/404_left_bg.gif) no-repeat left top; float:left; padding:20px 19px 20px 20px; width:350px;}
.mainbox404 .m_left .m_404box{width:350px; padding-top:175px; background:url(../img/404_logo.gif) no-repeat; text-align:left}
.mainbox404 .m_left .m_404box h2{ font-size:12px; line-height:28px;}
.mainbox404 .m_left .m_404box p{ line-height:24px; padding-left:30px;}
.mainbox404 .m_left .m_404box h3{line-height:28px; font-weight:bold; color:#585858;}
.mainbox404 .m_left .m_404box h3 a{ font-size:10px;}
.mainbox404 .m_right{ float:right; background-color:#CCC; width:630px; background:url(../img/dasline.gif) repeat-y 0px 0px; text-align:left; padding-left:1px;}
#vodhotscroll{ padding:10px 20px 10px 20px; margin-bottom:0px;}
.mainbox404 .m_right .topobjbox{ padding-top:16px;}
.mainbox404 .m_right .smallmenu_404{ height:12px; padding:9px 10px 11px 176px; *height:12px; *padding:10px 10px 10px 176px;}
.mainbox404 .m_right .smallmenu_404 a{ line-height:12px;}
.mainbox404 .m_right .smallmenu_404 span{ padding:0px 7px;}
.mainbox404 .m_right .searchbox_404{ height:45px; overflow:hidden; padding-top:10px;}
.mainbox404 .m_right .searchbox_404 .s_bottom{ margin-left:20px; width:300px; float:left; display:inline;}
.mainbox404 .m_right .searchbox_404 .hitbox{ width:280px; overflow:hidden;}
.mainbox404 .m_right .searchbox_404 .hitbox a{ white-space:nowrap;}
