body{
	background:#f0f0f2;
	font-size:14px;}
.header{
	background:url(../img/banner_bg.png) no-repeat;
	background-size:100% 100%;
	height:90px;
	padding:55px 5.3% 0px;}
.header-selfService{
	background:url(../../images/banner_bg.png) no-repeat;
	background-size:100% 100%;
	height:190px;
	text-align:center;}
.header-bg{
	width:100%;
	height:150px;}
.header-index{
	text-align:center;
	color:#969BA0;
	background:#FFF;}
.footer{
	padding:5px 5.3%;
	color:#c8c8c8;
	border-top:1px solid #d8d8d9;
	font-size:12px;}
.fixed{
	position:fixed;
	bottom:0px;
	left:0;
	right:0;
	margin:0;} 
.annotation{
	margin:10px 0px;}
.copyright{
	margin:10px 0px;
	text-align:center;}
.boxContent{
	padding: 0px 4.0% 0px 5.3%;
	display:-moz-box; /* Firefox */
	display:-webkit-box; /* Safari and Chrome */
	display:box;
	-webkit-box-orient:horizontal;
	text-align:left;
	background:#ffffff;
	border-bottom:#e4e6ed solid 1px;}
.box1{
	-moz-box-flex:1; /* Safari 和 Chrome */
	-webkit-box-flex:1; /* Safari 和 Chrome */
	box-flex:1;
	margin:20px 0px 20px 1%;
	word-break: break-all;
	word-wrap:break-word;}
.box15{
	-moz-box-flex:2; /* Safari 和 Chrome */
	-webkit-box-flex:2; /* Safari 和 Chrome */
	box-flex:2;
	margin:20px 0px 20px 2%;	
	word-break: break-all;
	word-wrap:break-word;}

/*绑定页面使用*/
.main-band{
	padding:40px 5.3% 60px;
	text-align:center;
	color:#222222;}
.main-band1{
	padding:40px 5.3% 0px;
	text-align:center;
	color:#222222;}
.main-band2{
	padding:40px 5.3% 150px;
	text-align:center;
	color:#222222;}
.band-input{
	width:95%;
	height:26px;
	line-height:26px;
	padding:7px 2.5%;
	margin:10px 0;
	border:#cccccc solid 1px;
	border-radius:4px;
	font-size:14px;
      /*text-indent:10px;*/}
.band-input1{
	width:55%;
	height:26px;
	line-height:26px;
	padding:7px 2.5%;
	margin:10px 0px;
	border:#cccccc solid 1px;
	border-radius:4px;
	font-size:14px;
      /*text-indent:10px;*/}
.band-input:focus,.band-input1:focus{
	border:#00afeb solid 1px;}
.band-button{
	width:100%;
	height:40px;
	line-height:40px;
	margin:20px 0px;
	border:none;
	border-radius:4px;	
	background:#73c814;
	font-size:16px;
	color:#ffffff;
	text-align:center;}
/*20151009tym*/
.band-button:disabled{
	background:#a2e08d;
	color:#doefc6;}
/*20151009tym*/
.band-getcodebutton{
	width:35%;
	margin:10px auto;
	height:40px;
	line-height:40px;
	border:#cccccc solid 1px;
	border-radius:4px;
	background:#ededed;
	font-size:14px;}
/*20151008 tym*/
.band-txt{
	margin:26px 0 0;
	font-size:12px;}
/*20151008 tym*/
.icon-mistake{
	height:15px;
	width:auto}
.icon-Mr86{
	height:158px;
	width:auto;}
.band-border{
	background:url(../img/border.png) repeat;
	height:14px;
	width:100%;
	margin-top:60px;}
.band-content{
	padding:20px 5.3%;}
.mask{
	position: fixed;
	left: 0;
	right:0;
	top: 0;
	bottom:0;
	z-index: 999;
	display: none;
	opacity: 0.2;
	background-color: rgb(0, 0, 0);}
.mask-content{
	position:fixed;
	top:35%;
	left:5%;
	right:5%;
	padding:50px 2.5%;
	background:#ffffff;
	border-radius:7px;
	border:#00afeb solid 1px;
	text-align:center;
	z-index:999;
	display: none;}
.modal{
	position:fixed;
	background:rgba(0,0,0,0.3);
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1050;
	overflow:hidden;
	-webkit-overflow-scrolling:touch;
	outline:0
}
.modal-dialog{
	position:relative;
	height: 382px;
	top:50%;
	margin-top: -191px;
	text-align:center
}
.modal-content{
	position:relative;
	width:80%;
	margin:auto;
	padding:0 20px 20px;
	background-color:#fafafc;
	border:1px solid rgba(0,0,0,.2);
	border-radius:6px;outline:0
}
.modal-close{
	margin-right:-15px;
	text-align:right;
	line-height:30px;
	color:#999;
	font-size:24px
}
.modal-header{
	margin-top:10px;
	color:#353535;
	font-size:16px;
	text-align:center
}
.header-title{
	height:30px;
	margin:auto;
	padding:4px 10px;
	line-height:30px;
	font-size:14px;
	color:#f1f1f1;
	background-color:red;
	border-radius:6px
}
.header-description{
	margin-top:10px;
	line-height:18px;
	text-align:left;
	font-size:14px
}
.modal-body .main-img{
	width:160px;
	margin-top:10px;
	color:#0bb20c;
	font-size:16px;
	font-weight:400;
	line-height:40px
}
.icon-img{
	position:absolute;
	width:30px;
	margin:70px -95px
}
.modal-foot{
	margin-top:10px;
	font-size:14px
}
/*绑定页面使用*/
/*自助服务页面使用*/
.selfService-title{
	height:60px;
	width:auto;
	margin-top:65px;}
.main-selfService{
	text-align:center;
	padding:80px 0px 20px;}
.selfService-img{
	width:200px;}
/*自助服务页面使用*/	

/*公用部分*/
.height25{
	height:25px;
	line-height:25px;}
.height30{
	height:30px;
	line-height:30px;}
.height40{
	height:30px;
	line-height:40px;}
.font14{
	font-size:14px;}
.font12{
	font-size:12px;}
.font20{
	font-size:20px;}
.font22{
	font-size:24px;}
.font40{
	font-size:40px;	}
.mgt5{
	margin-top:5px;}
/*标红字体*/
.colorE60012{
	color:#E60012;}
/*标红字体*/
.color9ad63c{
	color:#9ad63c;}
.colorffffff{
	color:#ffffff;}
.color969BA0{
	color:#969BA0;}
.color3ab8fe{
	color:#3ab8fe;}
.color00afeb{
	color:#00afeb;}
.borderb{
	border-bottom:dotted #b4b4b4 1px;}
.marginT10{
	margin-top:10px;}
.paddingl10{
	padding-left:20px;}
.bgffffff{
	background:#FFF;}
.bg669efd{
	background:#669efd;}
.bg669efd:active{
	background:#5c8ee3;}
.bgffaa3c{
	background:#ffaa3c;}
.bgffaa3c:active{
	background:#eb9e28;}
.bg23c2c7{
	background:#23c2c7;}
.bg23c2c7:active{
	background:#08afb5;}
.bg6ba2f7{
	background:#6ba2f7;}
.bg6ba2f7:active{
	background:#6093e6;}
.bga5cd2d{
	background:#a5cd2d;}
.bga5cd2d:active{
	background:#94ba0d;}
.bg69a0fa{
	background:#69a0fa;}
.bg69a0fa:active{
	background:#5c8ee3;}
.bgace1ff{
	background:#ace1ff;}
.bgace1ff:active{
	background:#60C9FF;}
.bgf6f8fa{
	background:#f6f8fa;}
.bgf0f0f2{
	background:#f0f0f2;}
.textall{
	text-align:left;}	
.mgt0{
	margin-top:0px;}
.mgbt10{
	margin-bottom:10px;}
.mg13{
	margin:13px 0px;}
.borderN{
	border:none;}
/*公用部分*/
/*20151008 tym*/
.band-instruction{
	 position:fixed;
	 bottom:45px;
	 width:94%;
	 padding:10px 3% 14px 3%;
	 background:#ffffff;
	 font-size:12px;
	 color:#222222;
	 text-align:center;}
/*20151008 tym*/
@media screen and (min-width: 375px){
.index-data{
	font-size:20px;}
.band-instruction{
 	font-size:14px;}
}
@media screen and (min-width: 400px){
.index-data{
	font-size:24px;}
}
.bandFail-txt{
	margin:26px 0px 18px;
	font-size:20px;}
.mg7{
	margin:7px 0px;}
/*20151008 tym*/ 
.prompt{
	text-align:left;
	display:none;
	margin:5px 0 5px 2%;
	font-size:12px;
	color:#b0b2b4;}
.borderRed{
		border:#ff0000 solid 1px;}
.red{
	color: #FF0000;
	font-weight: bold;
}
.colorc8c8c8{
	color:#c8c8c8;}
.band-failbtn{
	margin:25px 0 30px;}
.band-txtskip{
	font-size:12px;
	color:#222222;
	margin:15px 0 70px;}
/*20151010 tym*/ 
.popup{
	position: fixed;
	left: 0;
	right:0;
	top: 0;
	bottom:0;
	z-index: 999;
	display:block;
	opacity: 0.55;
	background-color: #999999;
	font-weight:bold;}
.popup-content{
	position:fixed;
	top:25%;
	left:19%;
	right:19%;
	background:#ffffff;
	border-radius:4px;
	text-align:center;
	z-index:999;
	display: none;}
.popup-txt{
	width:60%;
	padding:20px 20% 15px;
	border-bottom:#888888 solid 1px;
	font-size:12px;
	line-height:22px;}
.popup-btn{
	margin:10px 0;
	font-size:18px;
	color:#00afeb;}
.band404-txt{
	font-size:13px;
	color:#000000;
	margin-top:17px;}