<!-- #layout name='frontend.html' block='container' -->
<div class="box980">
	<div class="f_l w116">
	<div class="publicbox top_menu_l">
		<div class="title"></div>
			<div class="menu">
				<ul>
					<li <!-- IF _alias="" -->class="cur"<!-- ENDIF -->>
						<a href="{{url::bind('top')}}">总排行</a>
					</li>
					<!-- BEGIN _sidebar -->
					<li<!-- IF top._alias=alias --> class="cur"<!-- ENDIF -->>
						<a href="{{url::bind('top',alias)}}">{{html::name(name)}}排行</a>
					</li>
					<!-- END _sidebar -->
				</ul>
			</div>
		</div>
	</div>

	<div class="f_l" style=" width:592px; margin-left:10px;">
		<!-- BEGIN _ranking -->
		<div id="{{alias}}_tab" class="publicbox">
			<div id="{{alias}}_tabbtn" class="vodhottitle {{alias}}_toptitle top_tab">
				<ul>
					<li class="cur">总</li>
					<li>周</li>
					<li>月</li>
					<div class="cl"></div>
				</ul>
			</div>
			<div id="{{alias}}_conbtn" class="sss_conbtn" >
				<!-- BEGIN _conlist -->
				<div class="conlistbox" <!-- IF _FIRST -->style="display:block;"<!-- ELSE -->style="display:none;"<!-- ENDIF -->>
					<ul>
						<li class="lt">
							<span class="lt_title">标题</span>
							<span class="lt_type">类型</span>
							<span class="lt_ext">标签</span>
							<span class="lt_hot">观看</span>
							<span class="lt_gold">评分</span>
						</li>
						<!-- BEGIN _items -->
						<li>
							<span class="no">{{_ROWCNT}}</span>
							<span class="t_titlebox">
								<a class="t_title" href="{{url::bind('detail',id)}}" title="{{html::name(name)}}"><font color="">{{html::name(name)}}</font></a>
							</span>
							<span class="t_typebox"><a class="t_type" href="{{url::bind('channel',_alias)}}" title="{{_channel}}">[{{_channel}}]</a></span>
							<span class="t_extbox">{{html::tags(tags)}}</span>
							<span class="t_hot">{{hits}}</span>
							<span class="t_gold">{{gold}}</span>
						</li>
						<!-- END _items -->
					</ul>
				</div>
				<!-- END _conlist -->
			</div>
		</div>
		<!-- END _ranking -->
	</div>

	<div class="f_r w252">
		<div class="publicbox w250">
			<div class="vodhottitle top_zttitle" style="margin:10px 18px;"></div>
			<div class="ztrbox">
				<!-- BEGIN _special -->
				<a class="imgitem" href="{{url::bind('special',id)}}">
					<img class="loadimg_w150_h72" data-original="{{picurl}}" src="{{picurl}}" alt="点击查看《{{html::name(name)}}》" />
					<span class="txbg"></span>
					<span class="txcon">{{html::name(name)}}</span>
				</a>
				<!-- END _special -->
			</div>
		</div>
	</div>

	<div class="cl"></div>
</div>

<!-- #block name='javascript' -->
<script type="text/javascript">
$(function(){
	if($("#movie_tab").length > 0)$("#movie_tab").tab({tabId:"#movie_tabbtn",tabTag:"li",conId:"#movie_conbtn",conTag:"div.conlistbox",act:"mouseover"});
	if($("#tv_tab").length > 0)$("#tv_tab").tab({tabId:"#tv_tabbtn",tabTag:"li",conId:"#tv_conbtn",conTag:"div.conlistbox",act:"mouseover"});
	if($("#comic_tab").length > 0)$("#comic_tab").tab({tabId:"#comic_tabbtn",tabTag:"li",conId:"#comic_conbtn",conTag:"div.conlistbox",act:"mouseover"});
	if($("#variety_tab").length > 0)$("#variety_tab").tab({tabId:"#variety_tabbtn",tabTag:"li",conId:"#variety_conbtn",conTag:"div.conlistbox",act:"mouseover"});
	$("img.loadimg_w150_h72").lazyload({effect:"fadeIn",errorimgpic:JsCssFtpDir+'public/images/no-pic-h.gif'});
});
</script>
<!-- #block end -->