
<!-- #layout name='frontend.html' block='container' -->

<div class="box980 md10"> 
	<div class="f_l w720">
		<div id="specialhotimg" class="specialhotimg">
			<div id="specialImgCon" class="specialImgCon">
				<ul> 
					<li class="silder_panel">
						<a href="/special/tv/xixueguiriji.html"><img class="loadimg_w510_h340" src="http://images.shg88.com/Uploads/slide/2013-02-04/510fa7652e4d8.jpg"  alt="点击查看《吸血鬼日记全季》" /></a>
					</li>
					<li class="silder_panel">
						<a href="/special/star/liudehua.html"><img class="loadimg_w510_h340" src="http://images.shg88.com/Uploads/slide/2013-02-04/510fa77c54c9c.jpg"  alt="点击查看《刘德华经典电影全集》" /></a>
					</li>
					<li class="silder_panel"> 
						<a href="/special/star/lilianjie.html"><img class="loadimg_w510_h340" src="http://images.shg88.com/Uploads/slide/2013-02-04/510fa79ca6c11.jpg"  alt="点击查看《李连杰经典电影全集》" /></a>
					</li>
					<li class="silder_panel">
						<a href="/special/star/chenglong.html"><img class="loadimg_w510_h340" src="http://images.shg88.com/Uploads/slide/2013-02-04/510fa7c847d7d.jpg"  alt="点击查看《成龙经典电影全集》" /></a>
					</li>
					<li class="silder_panel">
						<a href="http://www.wm527.com"><img class="loadimg_w510_h340" src="http://images.shg88.com/Uploads/slide/2013-02-04/510fa7dc92d3f.jpg"  alt="点击查看《2013贺岁强档》" /></a>
					</li>				
				</ul>
			</div>

			<div id="specialImgTab" class="specialImgTab">
				<ul>

					<li> 
						<span class="nav_1"> 
							<div class="slideitembox"> 
								<span class="simgbox"><a href="/special/tv/xixueguiriji.html"><img src="http://images.shg88.com/Uploads/slide/2013-02-04/510f83345a803.gif" alt="点击查看《吸血鬼日记全季》" /></a></span> 
								<span class="bigtitlebox"><a href="/special/tv/xixueguiriji.html">吸血鬼日记全季</a></span> 
								<span class="smalltitlebox"><a href="/special/tv/xixueguiriji.html">吸血鬼日记1、2、3</a></span> 
							</div> 
						</span> 
					</li>

					<li> 
						<span class="nav_1"> 
							<div class="slideitembox"> 
								<span class="simgbox"><a href="/special/star/liudehua.html"><img src="http://images.shg88.com/Uploads/slide/2013-02-04/510f83863911e.gif" alt="点击查看《刘德华经典电影全集》" /></a></span> 
								<span class="bigtitlebox"><a href="/special/star/liudehua.html">刘德华经典电影全</a></span> 
								<span class="smalltitlebox"><a href="/special/star/liudehua.html">刘德华经典电影全集</a></span> 
							</div> 
						</span> 
					</li>
					<li> 
						<span class="nav_1"> 
							<div class="slideitembox"> 
								<span class="simgbox"><a href="/special/star/lilianjie.html"><img src="http://images.shg88.com/Uploads/slide/2013-02-04/510f83c9025b9.gif" alt="点击查看《李连杰经典电影全集》" /></a></span> 
								<span class="bigtitlebox"><a href="/special/star/lilianjie.html">李连杰经典电影全</a></span> 
								<span class="smalltitlebox"><a href="/special/star/lilianjie.html">李连杰经典电影全集</a></span> 
							</div> 
						</span> 
					</li>
					<li> 
						<span class="nav_1"> 
							<div class="slideitembox"> 
								<span class="simgbox"><a href="/special/star/chenglong.html"><img src="http://images.shg88.com/Uploads/slide/2013-02-04/510f8408775fd.gif" alt="点击查看《成龙经典电影全集》" /></a></span> 
								<span class="bigtitlebox"><a href="/special/star/chenglong.html">成龙经典电影全集</a></span> 
								<span class="smalltitlebox"><a href="/special/star/chenglong.html">成龙经典电影全集</a></span> 
							</div> 
						</span> 
					</li>
					<li> 
						<span class="nav_1"> 
							<div class="slideitembox"> 
								<span class="simgbox"><a href="http://www.wm527.com"><img src="http://images.shg88.com/Uploads/slide/2013-02-04/510f842e0fa4b.gif" alt="点击查看《2013贺岁强档》" /></a></span> 
								<span class="bigtitlebox"><a href="http://www.wm527.com">2013贺岁强档</a></span> 
								<span class="smalltitlebox"><a href="http://www.wm527.com">2013贺岁强档</a></span> 
							</div> 
						</span> 
					</li>
					<div class="cl"></div>
				</ul>
			</div>
		</div>
		<div class=" publicbox w718 md0">
			<div class="specialImgtitle">
				<ul> 
					<li class="current"><a href="">最新专题</a></li> 
					<li class=""><a href="/special/movie/">电影专题</a></li>
					<li class=""><a href="/special/tv/">电视剧专题</a></li>
					<li class=""><a href="/special/star/">明星专题</a></li>
					<li class=""><a href="/special/festival/">节日专题</a></li>
					<li class="last"><a href="/special/other/">其他专题</a></li>					
					<div class="cl"></div>
				</ul>
			</div>
			<div class="speciallist"> 

				<ul> 
					<li class="imgbox"> 
						<a class="imgboxa" href="/special/tv/xixueguiriji.html"><img class="loadimg_w210_h100" src="http://images.shg88.com/Uploads/special/2013-01-21/50fcd514cbad9.gif"  alt="专题《吸血鬼日记》" /></a> 
						<div class="sfxbox"> 
							<a class="scbtn" href="index.html#">搜藏</a> 
							<!-- Baidu Button BEGIN -->
							<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare" data="{
							'url':'/special/tv/xixueguiriji.html',
							'desc':'',
							'text':'吸血鬼日记',
							'pic':'http://images.shg88.com/Uploads/special/2013-01-21/50fcd514cbad9.gif'
							}">
							<span class="line"></span>
							<span class="txt">分享：</span>
							<a class="bds_qzone"></a>
							<a class="bds_tsina"></a>
							<a class="bds_tqq"></a>
							<a class="bds_tsohu"></a>
							<a class="bds_renren"></a>
							<a class="bds_kaixin001"></a>
							</div>
							<script type="text/javascript" id="bdshare_js" data="type=tools&amp;mini=1&amp;uid=6556540" ></script>
							<script type="text/javascript" id="bdshell_js"></script>
							<script type="text/javascript">
							document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
							</script>
							<!-- Baidu Button END -->
						</div>
					</li> 
					<li class="content"> 
						<h2><a href="/special/tv/xixueguiriji.html">吸血鬼日记</a><span>2013-01-21</span></h2> 
						<p class="content_a">《吸血鬼日记》（The Vampire Diaries）哥伦比亚及华纳兄弟联合电视网出品，Marcos Siega导演，Nina Dobrev、Paul Wesley、Ian Somerhalder主演。该剧是一部集青春、魔幻、恐怖、剧情于一身的美国电视连续剧，由美国女作家L.J.史密斯的同名畅销系列小说改编而成。 该剧第一季在加拿大温哥华拍摄，后…<a href="/special/tv/xixueguiriji.html">[详细]</a></p> 
					</li>
					<div class="cl"></div> 
				</ul>

				<div class="cl"></div> 
				<div class="pages">
					<div class="ptbox">
						<span class="p_up_n">&nbsp;</span>
						<span class="p_n_n">1</span>
						<span class="p_down_n">&nbsp;</span>
					</div>
					<div class="cl"></div>
				</div> 
				<div class="cl"></div>
			</div>
		</div>
	</div> 

	<div class="f_r w252"> 
		<div class="publicbox w250"> 
			<div id="tab_hot" class="specialbox p16_u11_r_d_l"> 
				<div id="tab_hot_tabbtn" class="pdrboxtab" > 
					<div class="titletxt titleimg_rqph"></div> 
					<ul> 
						<li class="cur" >总</li> 
						<li>周</li> 
						<li>月</li> 
						<div class="cl"></div> 
					</ul> 
				</div> 
				<div id="tab_hot_tabcon"> 
					<div class="conbox"> 
						<div class="itembox"> 
							
							<div class="item"> 
								<span class="nobox ns">8</span> 
								<span class="titlelinkbox"><a class="hitlink" href="/special/star/annihaiseweiAnneHathaway.html" alt="点击查看详情《安妮·海瑟薇 Anne Hathaway》">安妮·海瑟薇 Anne Hat</a></span> 
								<span class="datebox gold">7</span> 
								<div class="cl"></div> 
							</div>

						</div> 
						<span class="cl"></span> 
					</div> 
					<div class="conbox" style="display:none;" >
						<div class="itembox"> 
							
							<div class="item"> 
								<span class="nobox ns">8</span> 
								<span class="titlelinkbox"><a class="hitlink" href="/special/movie/suduyujiqingxilie.html" alt="点击查看详情《速度与激情系列》">速度与激情系列</a></span> 
								<span class="datebox gold">2</span> 
								<div class="cl"></div> 
							</div>

						</div> 
						<span class="cl"></span> 
					</div> 

					<div class="conbox" style="display:none;"> 
						<div class="itembox"> 
							
							<div class="item"> 
								<span class="nobox ">1</span> 
								<span class="titlelinkbox"><a class="hitlink" href="/special/star/jiesensitansenJasonStatham.html" alt="点击查看详情《杰森·斯坦森 Jason Statham》">杰森·斯坦森 Jason St</a></span> 
								<span class="datebox gold">36</span> 
								<div class="cl"></div> 
							</div>

							</div> 
							<span class="cl"></span> 
						</div> 
					</div> 
				</div> 
			</div> 
			<div class="publicbox w250"> 
				<div class="vodhottitle tj_zttitle" style="margin:10px 18px 5px 18px;"></div> 
				<div class="ztrbox"> 
					<!-- BEGIN _special --> 
					<a class="imgitem" href="{{url::bind('special',id)}}"> 
						<img class="loadimg_w210_h100_2" src="{{picurl}}" src="{{picurl}}" alt="点击查看《{{name}}》" /> 
						<span class="txbg"></span> 
						<span class="txcon">{{name}}</span> 
					</a> 
					<!-- END _special --> 
				</div> 
			</div> 
		</div>
	<div class="cl"></div> 
</div>

<!-- #block name='javascript' -->
<script type="text/javascript">
$(function(){
	var JsCssFtpDir = '';
	$("img.loadimg_w510_h340").lazyload({effect:"fadeIn",event:"sporty",errorimgpic:JsCssFtpDir+'/assets/images/no-pic-l.gif'});
	$("img.loadimg_w210_h100").lazyload({effect:"fadeIn",errorimgpic:JsCssFtpDir+'/assets/images/no-pic-h2.gif'});
	$("img.loadimg_w210_h100_2").lazyload({effect:"fadeIn",errorimgpic:JsCssFtpDir+'/assets/images/no-pic-h2.gif'});
	$("#tab_hot").tab({tabId:"#tab_hot_tabbtn",tabTag:"li",conId:"#tab_hot_tabcon",conTag:"div.conbox",act:"mouseover"});
	$("#specialhotimg").ItemScroll_h({BoxObjID:"#specialhotimg",ItemConID:"#specialImgCon",ItemConItem:"li",ItemTabID:"#specialImgTab",ItemTabItem:"li",Timer:3000,Optrue:true,Rfunction:function(con){$(con).find("img.loadimg_w510_h340").trigger("sporty");}});
});
</script>
<!-- #block end -->