<!--底部开始-->
<div class="fooderbox" style="position:relative;">
  <div class="box980" style="position:relative;">
    <div class="ft">
      <div class="ft_logo"></div>
      <div class="ft_email"></div>
      <div class="ft_txt">
        <div class="w_link">
          <a href="[[url::bind('feedback')}}" target="_blank">给我留言&nbsp;</a><span class="line">/</span>
          <a href="[[url::bind('update')}}" target="_blank">&nbsp;最新更新&nbsp;</a><span class="line">/</span>
          <a href="[[url::bind('feed','rss')}}" target="_blank">&nbsp;RSS订阅&nbsp;</a><span class="line">/</span>
          <a href="[[url::bind('sitemap','baidu')}}" target="_blank">&nbsp;百度地图&nbsp;</a><span class="line">/</span>
          <a href="[[url::bind('sitemap','google')}}" target="_blank">&nbsp;谷歌地图&nbsp;</a>
          <div class="cl"></div>
        </div>
        <div class="w_txt">
          <p class="c_s">本网站提供的最新电视剧和电影资源均系收集于各大视频网站，本网站只提供web页面服务，并不提供影片资源存储，也不参</p>
          <p class="c_s">与录制、上传若本站收录的节目无意侵犯了贵司版权，请给右侧邮箱地址来信，我们会及时处理和回复，谢谢</p>
          <p class="last">Copyright © 2010-2013&nbsp;&nbsp;<a href="[[_setting.site_url}}">[[_setting.site_name}}</a>&nbsp;&nbsp;ICP备案:&nbsp;<a href="http://www.miitbeian.gov.cn/" target="_blank">[[_setting.site_icp}}</a> </p>
        </div>
      </div>
      <div class="py_txt">Powered by [[_setting.site_copyright}}</div>
    </div>
  </div>
</div>
<!-- 底部结束 -->
