<!-- #layout name='frontend.html' block='container' -->
<div class="box980">
  <div class="player" style="height:500">
    <div class="FF">
      <div id="live-play" class="layout fn-clear">
        <div id="feng-yun-mini-wrap">
          <iframe src="/live_tv.html" width="980" height="433" frameborder="0" scrolling="no"></iframe> 
        </div> 
      </div>
    </div>
  </div>
  <div class="cl"></div>
</div>

<!-- #block name='javascript' -->
{{adsense::show("play-couplet")}}
<!-- #block end -->